Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

Add basic account table structure
  prisma/migrations/20231204112058_add_attional_profile_information_tables/migration.sql
  prisma/migrations/20231204133743_add_organization_table/migration.sql
  prisma/schema.prisma
Due: none

Add signup trpc route
  src/server/routers/playground/account.ts
  src/server/routers/playground/index.ts
Due: lint --fix

Remove pre-commit hook
  .husky/pre-commit
Due: none

Revert "Add signup trpc route"
  src/server/routers/playground/account.ts
  src/server/routers/playground/index.ts
Due: lint --fix

Add back signup route + Update requestor signup form
  prisma/migrations/20231204134226_add_organization_reference_to_user/migration.sql
  prisma/migrations/20231204135316_add_requestor_contact_email/migration.sql
  prisma/migrations/20231204145046_change_organization_constraint/migration.sql
  prisma/schema.prisma
  src/components/layout/signup/RequestorSignup.tsx
  src/lib/services/playground/schemas.ts
  src/server/routers/playground/account.ts
  src/server/routers/playground/index.ts
Due: lint --fix

Update formatting
  src/components/layout/signup/RequestorSignup.tsx
  src/server/routers/playground/account.ts
  src/server/routers/playground/index.ts
Due: lint --fix

Add playground youtube video section
  src/components/layout/playground/layout.tsx
Due: lint --fix

Increase playground request accept transaction timeout and add logs
  src/lib/services/playground/admin.ts
Due: lint --fix

Make translation feature invisible for now Should be enabled when translations are also for contentful managed text available
  next.config.js
  src/components/layout/localeSelector.tsx
Due: lint --fix

Add new calculated role values
  prisma/migrations/20231204171158_more_user_roles/migration.sql
  prisma/schema.prisma
  src/lib/db/prisma.ts
Due: lint --fix

Move back to prisma extensions
  prisma/migrations/20231204172556_db_generated_values/migration.sql
  prisma/schema.prisma
  src/lib/db/prisma.ts
  src/pages/api/auth/[...nextauth].ts
  src/types/global.d.ts
Due: lint --fix

Revert "Remove calculated columns from prisma client"
  src/lib/db/prisma.ts
Due: lint --fix

WIP login page
  src/pages/auth/signin.tsx
Due: lint --fix

Test generated DB values
  prisma/migrations/20231204172556_db_generated_values/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: lint --fix

Migrate existing data, add missing CASE to generated view
  prisma/migrations/20231204172556_db_generated_values/migration.sql
Due: none

Add isAdmin computed field
  src/lib/db/prisma.ts
Due: lint --fix

Go back to basic client
  src/lib/db/prisma.ts
  src/pages/api/auth/[...nextauth].ts
Due: lint --fix

Remove calculated columns from prisma client
  src/lib/db/prisma.ts
Due: lint --fix

Organization -> Requestor
  prisma/migrations/20231204172556_db_generated_values/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: lint --fix

Add a way to disable react axe
  .env.example
  src/pages/_app.tsx
Due: lint --fix

Delete git hooks and related deps
  .husky/post-merge
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  scripts/postinstall.sh
Due: prettier --write

Remove lint-staged
  .lintstagedrc.js
  package.json
  pnpm-lock.yaml
Due: lint --fix, prettier --write

Delete prettier
  .dockerignore
  .prettierignore
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade typescript and related plugins
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add type to organization table
  prisma/migrations/20231205134052_add_organization_type/migration.sql
  prisma/schema.prisma
Due: none

Update requestor signup form
  src/components/layout/signup/RequestorSignup.tsx
  src/lib/services/playground/schemas.ts
  src/server/routers/playground/account.ts
Due: lint --fix

Update formatting
  src/components/layout/signup/RequestorSignup.tsx
  src/pages/playground/signup.tsx
Due: lint --fix

Add applicant signup schema
  src/lib/services/playground/schemas.ts
Due: lint --fix

Add applicant signup page/form
  src/components/layout/signup/ApplicantSignup.tsx
  src/pages/playground/signup.tsx
Due: lint --fix

Add applicant signup to the signup api route
  src/server/routers/playground/account.ts
Due: lint --fix

Replace hard coded email with environment variable
  src/lib/cron/hour/rejectOldRequestsWithoutApplicantsTask.ts
  src/lib/cron/hour/sendInternalEmailNotificationForRequestsWithoutApplicationsTask.ts
  src/lib/mail/router/index.ts
  src/lib/services/playground/admin.ts
Due: lint --fix

Update applicant signup page
  prisma/migrations/20231206091721_add_applicant_origin/migration.sql
  prisma/migrations/20231206092222_remove_name_from_applicant_info/migration.sql
  prisma/schema.prisma
  src/components/layout/signup/ApplicantSignup.tsx
  src/components/layout/signup/RequestorSignup.tsx
  src/server/routers/playground/account.ts
Due: lint --fix

Fix formatting
  src/components/layout/signup/ApplicantSignup.tsx
  src/pages/playground/signup.tsx
  src/server/routers/playground/account.ts
Due: lint --fix

Refactor middleware to make it extensible
  src/middleware.ts
Due: lint --fix

Add user api route + load middlware user data per api route
  src/middleware.ts
  src/pages/api/user.ts
Due: lint --fix

Add user cache to middleware
  src/middleware.ts
  src/pages/api/user.ts
Due: lint --fix

replace aac logo
  public/images/playground/animal-advocacy-careers.png
Due: none

Refactor middleware system
  src/middleware.ts
Due: lint --fix

Fix formatting & types
  src/middleware.ts
  src/pages/api/user.ts
Due: lint --fix

Path conditions:
  lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
