Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

Image optimization
  public/images/grants/PollinationProject-Logo.jpg
  public/images/grants/VH-hero-grants.jpg
  public/images/grants/bee-header.png
  public/images/grants/call.jpg
  public/images/grants/designer.jpg
  public/images/grants/impact-header.png
  public/images/joinUs/VH-chicken2-hero.jpg
  public/images/joinUs/VH-icon-writer.png
  public/images/joinUs/VH-join-mini-icon-check.png
  public/images/joinUs/VH-join-mini-icon-heart.png
  public/images/joinUs/VH-join-mini-icon-resume.png
  public/images/joinUs/VH-join-mini-icon-time.png
  public/images/people/VH-cow-hero-nocircles.jpg
  public/images/playground/VH_Playground_FullLogoWithBackground.png
  public/images/playground/crabHero.jpg
  public/images/playground/fishHero.png
  public/images/support/VH-pig2-hero-nocircles.jpg
  public/images/yearInReview/2021/TLAvocado.png
  public/images/yearInReview/2021/TLCarrot.png
  public/images/yearInReview/2021/TLEggplant.png
  public/images/yearInReview/2021/TLMango.png
  public/images/yearInReview/2021/TLStrawberry.png
  public/images/yearInReview/2021/VH-pig2-hero.jpg
  public/images/yearInReview/2021/VH_BrandGuide.jpg
  public/images/yearInReview/2021/newsletter.png
  public/images/yearInReview/2021/partner_pollinationproject.png
Due: none

Delete VH-pig2-hero.jpg
  public/images/yearInReview/2021/VH-pig2-hero.jpg
Due: none

Update playground email template copy
  src/components/layout/mail/emailTemplates.ts
Due: lint --fix

Minor template copy update
  src/components/layout/mail/emailTemplates.ts
Due: lint --fix

Fix eslint problems
  src/components/layout/mail/emailTemplates.ts
Due: lint --fix

Rename docs to handbook
  src/components/layout/docs/searchResults.tsx
  src/components/layout/docs/sidebar.tsx
  src/components/layout/wrapper.tsx
  src/pages/_app.tsx
  src/pages/api/preview/docs.ts
  src/pages/handbook/[category]/[section].tsx
  src/pages/handbook/[category]/index.tsx
  src/pages/handbook/index.tsx
Due: lint --fix

Add role to reddit playground requests
  src/lib/reddit/index.tsx
Due: lint --fix

Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update emailTemplates.ts
  src/components/layout/mail/emailTemplates.ts
Due: lint --fix

Add padding to button
  src/pages/auth/verify-request.tsx
Due: lint --fix

Fix deployment
  src/components/layout/mail/emailTemplates.ts
Due: lint --fix

Update button copy
  src/components/layout/playground/requests/requestCard.tsx
Due: lint --fix

Restructure charts
  prisma/seed.ts
  src/components/layout/data/dateRangeSelectInput.tsx
  src/pages/data/[projectId].tsx
Due: lint --fix

Localise Google Fonts
  public/fonts/bitter-v28-latin-500.woff
  public/fonts/bitter-v28-latin-500.woff2
  public/fonts/bitter-v28-latin-500italic.woff
  public/fonts/bitter-v28-latin-500italic.woff2
  public/fonts/bitter-v28-latin-italic.woff
  public/fonts/bitter-v28-latin-italic.woff2
  public/fonts/pt-sans-v17-latin-700.woff
  public/fonts/pt-sans-v17-latin-700.woff2
  public/fonts/pt-sans-v17-latin-regular.woff
  public/fonts/pt-sans-v17-latin-regular.woff2
  public/fonts/rajdhani-v15-latin-300.woff
  public/fonts/rajdhani-v15-latin-300.woff2
  public/fonts/rajdhani-v15-latin-500.woff
  public/fonts/rajdhani-v15-latin-500.woff2
  public/fonts/rajdhani-v15-latin-600.woff
  public/fonts/rajdhani-v15-latin-600.woff2
  public/fonts/rajdhani-v15-latin-700.woff
  public/fonts/rajdhani-v15-latin-700.woff2
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/styles/fonts.css
Due: lint --fix, prettier --write

Add "Select Bot" feature
  src/components/forms/inputs/selectInput.tsx
  src/components/layout/data/categorySelectInput.tsx
  src/components/layout/data/dateRangeSelectInput.tsx
  src/pages/data/[projectId].tsx
Due: lint --fix

Fix introduction mail
  src/components/layout/mail/emailTemplates.ts
Due: lint --fix

Update prisma client
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix type error
  src/components/layout/playground/applyForm.tsx
Due: lint --fix

Autofill submit request form if user is not admin
  src/components/layout/playground/submitRequestForm.tsx
Due: lint --fix

New contact link for /support
  src/pages/support.tsx
Due: lint --fix

Remove design request form
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/pages/services.tsx
Due: lint --fix

feat: move index page text to translation file
  docker-compose.yaml
  src/components/layout/grants/grantsCallToAction.tsx
  src/components/layout/index/lastBlogEntries.tsx
  src/components/layout/joinTheTeam.tsx
  src/lib/localisation/index.d.ts
  src/lib/localisation/messages.ts
  src/localisation/de.json
  src/localisation/en.json
  src/pages/index.tsx
Due: lint --fix, prettier --write

feat: enable translations using react-intl
  next.config.js
  package.json
  pnpm-lock.yaml
  src/lib/localisation/LocalisationProvider.tsx
  src/lib/localisation/README.md
  src/lib/localisation/index.d.ts
  src/lib/localisation/messages.ts
  src/lib/localisation/useLocale.ts
  src/localisation/de.json
  src/localisation/en.json
  src/pages/_app.tsx
  src/pages/index.tsx
Due: lint --fix, prettier --write

Add playground-request-mail CC
  src/lib/mail/router/index.ts
  src/lib/services/playground/index.ts
Due: lint --fix

Change introduction email text
  src/components/layout/mail/emailTemplates.ts
Due: lint --fix

feat: automate translation extraction
  localisation/_util.ts
  localisation/data/compiled-en.json
  localisation/data/en.json
  localisation/extract.ts
  localisation/tsconfig.json
  localisation/update.ts
  package.json
  pnpm-lock.yaml
  src/components/layout/grants/grantsCallToAction.tsx
  src/components/layout/index/lastBlogEntries.tsx
  src/components/layout/joinTheTeam.tsx
  src/lib/helpers/guards.ts
  src/lib/localisation/README.md
  src/lib/localisation/index.d.ts
  src/lib/localisation/messages.ts
  src/localisation/de.json
  src/pages/index.tsx
Due: lint --fix, prettier --write

feat: manage text with react-intl
  localisation/data/compiled-en.json
  localisation/data/en.json
  src/pages/404.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/join.tsx
  src/pages/newsletter.tsx
Due: lint --fix, prettier --write

Add CC for playground applications
  src/lib/services/playground/index.ts
Due: lint --fix

fix: apply code review changes
  docker-compose.yaml
  localisation/extract.ts
Due: lint --fix, prettier --write

feat(translation): move text to translation
  localisation/data/compiled-en.json
  localisation/data/en.json
  localisation/update.ts
  src/pages/_app.tsx
  src/pages/services.tsx
  src/pages/support.tsx
Due: lint --fix, prettier --write

Enable Privacy Mode for Embedded Youtube Videos
  src/components/decoration/youtubeVideo.tsx
Due: lint --fix

Switch Patreon Goal bar to Fundraising Goal bar
  src/components/layout/support/progressBar/index.tsx
  src/pages/support.tsx
Due: lint --fix

More changes to bar
  src/components/layout/support/progressBar/animatedBar.tsx
  src/components/layout/support/progressBar/index.tsx
  src/components/layout/support/progressBar/mobile/index.tsx
  src/components/layout/support/progressBar/mobile/tickMarks.tsx
Due: lint --fix

Update goal number
  src/components/layout/support/progressBar/index.tsx
  src/components/layout/support/progressBar/mobile/index.tsx
Due: lint --fix

Undo goal bar commits
  src/components/layout/support/progressBar/animatedBar.tsx
  src/components/layout/support/progressBar/index.tsx
  src/components/layout/support/progressBar/mobile/index.tsx
  src/components/layout/support/progressBar/mobile/tickMarks.tsx
  src/pages/support.tsx
Due: lint --fix

Add donorbox integration
  src/components/layout/support/donorBoxCard.tsx
  src/pages/support.tsx
Due: lint --fix

Update donorbox URL
  src/components/layout/support/donorBoxCard.tsx
Due: lint --fix

Better support message
  src/pages/support.tsx
Due: lint --fix

Revert "Merge branch 'main' into feature/donorbox-integration"
  src/components/layout/support/progressBar/animatedBar.tsx
  src/components/layout/support/progressBar/index.tsx
  src/components/layout/support/progressBar/mobile/index.tsx
  src/components/layout/support/progressBar/mobile/tickMarks.tsx
  src/pages/support.tsx
Due: lint --fix

Update support.tsx
  src/pages/support.tsx
Due: lint --fix

Path conditions:
  lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
