Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["lint --fix"],
  "*.{md,html,css,json,yml,yaml}": "prettier --write"
}

remove obsolete page /people/partners
  src/pages/people/partners.tsx
Due: lint --fix

remove links to obsolete page /people/partners
  src/components/layout/footer/links.tsx
  src/components/layout/people.tsx
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
Due: lint --fix, prettier --write

Update privacy policy
  src/pages/privacy-policy.tsx
Due: lint --fix

wip
  src/app/[locale]/work/_components/provegIncubator.tsx
  src/app/handbook/layout.tsx
  src/app/layout.tsx
  src/components/layout/wrapper.tsx
  src/pages/404.tsx
  src/pages/[locale]/privacy-policy.tsx
  src/pages/_error.tsx
  translation/data/de.json
  translation/data/en.json
Due: lint --fix, prettier --write

wip
  src/__tests__/client/index.test.tsx
  src/__tests__/index.tsx
  src/app/(localized)/[locale]/blog/[slug]/page.tsx
  src/app/(localized)/[locale]/blog/_components/BlogOverviewContainer.tsx
  src/app/(localized)/[locale]/blog/_components/useBlogSearch.tsx
  src/app/(localized)/[locale]/blog/page.tsx
  src/app/(localized)/[locale]/layout.tsx
  src/app/(localized)/[locale]/page.tsx
  src/app/(localized)/[locale]/work/_components/designWork/designWork.tsx
  src/app/(localized)/[locale]/work/_components/designWork/lottiePlayerContainer.tsx
  src/app/(localized)/[locale]/work/_components/featuredProjects/ProjectCard.tsx
  src/app/(localized)/[locale]/work/_components/featuredProjects/featuredProjects.tsx
  src/app/(localized)/[locale]/work/_components/grantProgram.tsx
  src/app/(localized)/[locale]/work/_components/hoursVolunteered.tsx
  src/app/(localized)/[locale]/work/_components/kindWords.tsx
  src/app/(localized)/[locale]/work/_components/likeWhatYouSee.tsx
  src/app/(localized)/[locale]/work/_components/otherProjects.tsx
  src/app/(localized)/[locale]/work/_components/ourCommunities.tsx
  src/app/(localized)/[locale]/work/_components/ourWork.tsx
  src/app/(localized)/[locale]/work/_components/playground.tsx
  src/app/(localized)/[locale]/work/_components/provegIncubator.tsx
  src/app/(localized)/[locale]/work/_components/sharingKnowledgeAndSupport.tsx
  src/app/(localized)/[locale]/work/_components/stateOfData.tsx
  src/app/(localized)/[locale]/work/_components/workHero.tsx
  src/app/(localized)/[locale]/work/page.tsx
  src/app/(other)/error.tsx
  src/app/(other)/layout.tsx
  src/app/(other)/not-found.tsx
  src/app/[locale]/layout.tsx
  src/components/layout/people.tsx
  src/pages/[locale]/people/team.tsx
Due: lint --fix

update /work sharing knowledge and support section
  public/images/work/knowlegeSharingAndSupport/AVA_2024_DC_Summit_2.png
  public/images/work/knowlegeSharingAndSupport/AVA_2024_Team_19.png
  public/images/work/knowlegeSharingAndSupport/James_Erasmus_University_Rotterdam.png
  src/components/layout/work/sharingKnowledgeAndSupport.tsx
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
Due: lint --fix, prettier --write

add security consultation service to contact form
  src/components/forms/contactUs.tsx
  src/pages/api/contact-us.ts
Due: lint --fix

use route groups
  src/__tests__/client/index.test.tsx
  src/__tests__/index.tsx
  src/app/(localized)/README.md
  src/app/(localized)/[locale]/blog/[slug]/page.tsx
  src/app/(localized)/[locale]/blog/_components/BlogOverviewContainer.tsx
  src/app/(localized)/[locale]/blog/_components/useBlogSearch.tsx
  src/app/(localized)/[locale]/blog/page.tsx
  src/app/(localized)/[locale]/layout.tsx
  src/app/(localized)/[locale]/page.tsx
  src/app/(localized)/[locale]/work/_components/designWork/designWork.tsx
  src/app/(localized)/[locale]/work/_components/designWork/lottiePlayerContainer.tsx
  src/app/(localized)/[locale]/work/_components/featuredProjects/ProjectCard.tsx
  src/app/(localized)/[locale]/work/_components/featuredProjects/featuredProjects.tsx
  src/app/(localized)/[locale]/work/_components/grantProgram.tsx
  src/app/(localized)/[locale]/work/_components/hoursVolunteered.tsx
  src/app/(localized)/[locale]/work/_components/kindWords.tsx
  src/app/(localized)/[locale]/work/_components/likeWhatYouSee.tsx
  src/app/(localized)/[locale]/work/_components/otherProjects.tsx
  src/app/(localized)/[locale]/work/_components/ourCommunities.tsx
  src/app/(localized)/[locale]/work/_components/ourWork.tsx
  src/app/(localized)/[locale]/work/_components/playground.tsx
  src/app/(localized)/[locale]/work/_components/provegIncubator.tsx
  src/app/(localized)/[locale]/work/_components/sharingKnowledgeAndSupport.tsx
  src/app/(localized)/[locale]/work/_components/stateOfData.tsx
  src/app/(localized)/[locale]/work/_components/workHero.tsx
  src/app/(localized)/[locale]/work/page.tsx
  src/app/(other)/README.md
  src/app/(other)/error.tsx
  src/app/(other)/layout.tsx
  src/app/(other)/not-found.tsx
  src/app/[locale]/layout.tsx
  src/components/layout/people.tsx
  src/pages/[locale]/people/team.tsx
Due: lint --fix, prettier --write

cache loaded data between requests
  package.json
  pnpm-lock.yaml
  src/app/(localized)/[locale]/blog/[slug]/page.tsx
  src/app/(localized)/[locale]/blog/page.tsx
  src/app/(localized)/[locale]/page.tsx
  src/app/(localized)/[locale]/work/_components/sharingKnowledgeAndSupport.tsx
  src/app/(localized)/[locale]/work/page.tsx
  src/app/(other)/layout.tsx
  src/lib/services/translation/index.tsx
  src/trpc/server.ts
Due: lint --fix, prettier --write

cache getLocalizedHTML
  src/lib/services/translation/index.tsx
  src/server/api/routers/playground/stats.ts
Due: lint --fix

2023 year in review heading & intro
  public/images/yearInReview/2023/2023-hero.jpg
  public/images/yearInReview/2023/2023-type.png
  src/components/layout/yearInReview/2023/intro.tsx
  src/components/layout/yearInReview/layout.tsx
  src/pages/year-in-review/2023.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Adds ability to specify exact image alignment values to Hero banner
  src/components/decoration/hero.tsx
Due: lint --fix

Install @sentry/nextjs and set pnpm version
  package.json
  pnpm-lock.yaml
Due: prettier --write

Set up Sentry error logging
  next.config.js
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/instrumentation.ts
  src/pages/_error.tsx
Due: lint --fix

Update pnpm action + version
  .github/workflows/lint.yml
Due: prettier --write

Use latest pnpm version
  .github/workflows/lint.yml
  package.json
Due: prettier --write

Only specify version in package.json
  .github/workflows/lint.yml
Due: prettier --write

work page: update number of supported orgs
  src/components/layout/work/ourWork.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

disable other locales than en
  i18nConfig.js
Due: lint --fix

ensure research pdf is included in build
  next.config.js
  package.json
  pnpm-lock.yaml
  redirects.ts
Due: lint --fix, prettier --write

code review findings fixed
  src/app/(other)/error.tsx
  src/app/(other)/layout.tsx
  src/app/MIGRATION.md
  src/app/_localization/README.md
  src/app/_providers/clientProviders.tsx
  src/app/clientLayout.tsx
  src/app/handbook/layout.tsx
Due: lint --fix, prettier --write

fix opengraph image embeds
  src/pages/_app.tsx
Due: lint --fix

wip error page
  src/app/(localized)/[locale]/blog/_components/BlogOverviewContainer.tsx
  src/app/(localized)/error.tsx
  src/app/(localized)/not-found.tsx
  src/app/(other)/layout.tsx
  src/app/handbook/layout.tsx
  src/components/forms/contactUs.tsx
  src/components/layout/errorPage.tsx
  src/components/layout/wrapper.tsx
  src/lib/stores/errorStore.ts
Due: lint --fix

Add Granti and Voilet Studios sections to YiR 2023
  public/images/yearInReview/2023/granti-screenshot.jpg
  public/images/yearInReview/2023/granti.png
  src/components/layout/yearInReview/2023/granti.tsx
  src/components/layout/yearInReview/2023/violetStudios.tsx
  src/pages/year-in-review/2023.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Update YiR 2023 sections
  public/images/yearInReview/2023/today-for-animals-logo.png
  public/images/yearInReview/2023/today-for-animals-screenshot.jpg
  src/components/layout/yearInReview/2023/granti.tsx
  src/components/layout/yearInReview/2023/today-for-animals.tsx
  src/components/layout/yearInReview/2023/violetStudios.tsx
  src/pages/year-in-review/2023.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Update YiR 2023
  public/images/yearInReview/2023/playground-logo.png
  public/images/yearInReview/2023/playground-screenshot.jpg
  src/components/layout/yearInReview/2023/playground.tsx
  src/components/layout/yearInReview/2023/today-for-animals.tsx
  src/pages/year-in-review/2023.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Add leadership and partnership sections to YiR 2023
  public/images/yearInReview/2023/leadership-pigs.jpg
  src/components/layout/yearInReview/2023/leadership.tsx
  src/components/layout/yearInReview/2023/partnerships.tsx
  src/pages/year-in-review/2023.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

YiR 2023 updates
  public/images/yearInReview/2023/animal-advocacy-careers.png
  public/images/yearInReview/2023/stray-dog-institute.png
  src/components/layout/yearInReview/2023/collaborations.tsx
  src/components/layout/yearInReview/2023/leadership.tsx
  src/pages/year-in-review/2023.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Adds YiR 2023 sections and updates padding
  public/images/yearInReview/2023/ava-summit.jpg
  public/images/yearInReview/2023/erasmus.jpg
  public/images/yearInReview/2023/lead-conference.jpg
  public/images/yearInReview/2023/tech--and-data-in-the-movement.jpg
  src/components/decoration/textBlocks.tsx
  src/components/layout/yearInReview/2023/collaborations.tsx
  src/components/layout/yearInReview/2023/granti.tsx
  src/components/layout/yearInReview/2023/intro.tsx
  src/components/layout/yearInReview/2023/knowledge.tsx
  src/components/layout/yearInReview/2023/leadership.tsx
  src/components/layout/yearInReview/2023/partnerships.tsx
  src/components/layout/yearInReview/2023/playground.tsx
  src/components/layout/yearInReview/2023/tech-and-data.tsx
  src/components/layout/yearInReview/2023/today-for-animals.tsx
  src/components/layout/yearInReview/2023/violetStudios.tsx
  src/components/layout/yearInReview/highlightBlock.tsx
  src/components/layout/yearInReview/sectionContainer.tsx
  src/pages/year-in-review/2023.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Add Theory of Change and Big Impact sections to YiR 2023
  public/images/yearInReview/2023/fruit-and-vegetables/apple.png
  public/images/yearInReview/2023/fruit-and-vegetables/avocado.png
  public/images/yearInReview/2023/fruit-and-vegetables/banana.png
  public/images/yearInReview/2023/fruit-and-vegetables/blueberry.png
  public/images/yearInReview/2023/fruit-and-vegetables/brocolli.png
  public/images/yearInReview/2023/fruit-and-vegetables/peach.png
  public/images/yearInReview/2023/theory-of-change.jpg
  public/resources/theory-of-change.pdf
  src/components/layout/yearInReview/2022/moreEffectiveTeams.tsx
  src/components/layout/yearInReview/2023/bigImpact.tsx
  src/components/layout/yearInReview/2023/theoryOfChange.tsx
  src/components/layout/yearInReview/teamBlock.tsx
  src/pages/year-in-review/2023.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Add 'By The Numbers' and 'Moving Forward' sections to YiR 2023
  src/components/decoration/link.tsx
  src/components/layout/yearInReview/2023/byTheNumbers.tsx
  src/components/layout/yearInReview/2023/movingForward.tsx
  src/pages/year-in-review/2023.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

YiR 2023 updates
  next.config.js
  src/components/layout/yearInReview/2023/knowledge.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Mats updates to YiR2023
  src/components/decoration/link.tsx
  src/components/decoration/textBlocks.tsx
  src/components/layout/yearInReview/2023/bigImpact.tsx
  src/components/layout/yearInReview/2023/byTheNumbers.tsx
  src/components/layout/yearInReview/2023/collaborations.tsx
  src/components/layout/yearInReview/2023/granti.tsx
  src/components/layout/yearInReview/2023/intro.tsx
  src/components/layout/yearInReview/2023/leadership.tsx
  src/components/layout/yearInReview/2023/movingForward.tsx
  src/components/layout/yearInReview/2023/playground.tsx
  src/components/layout/yearInReview/2023/sentientLogo.tsx
  src/components/layout/yearInReview/2023/tech-and-data.tsx
  src/components/layout/yearInReview/2023/today-for-animals.tsx
  src/components/layout/yearInReview/2023/violetStudios.tsx
  src/components/layout/yearInReview/highlightBlock.tsx
  src/components/layout/yearInReview/sectionContainer.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

wip
  src/app/(localized)/[locale]/blog/_components/BlogOverviewContainer.tsx
  src/app/(localized)/error.tsx
  src/app/(localized)/not-found.tsx
  src/app/(other)/layout.tsx
  src/app/handbook/layout.tsx
  src/components/forms/contactUs.tsx
  src/components/layout/errorPage_pages.tsx
  src/components/layout/wrapper.tsx
  src/lib/stores/errorStore.ts
  src/pages/_error.tsx
Due: lint --fix

Mats updates to YiR2023
  src/components/decoration/hero.tsx
  src/components/decoration/textBlocks.tsx
  src/components/layout/yearInReview/2023/bigImpact.tsx
  src/components/layout/yearInReview/2023/byTheNumbers.tsx
  src/components/layout/yearInReview/2023/collaborations.tsx
  src/components/layout/yearInReview/2023/granti.tsx
  src/components/layout/yearInReview/2023/intro.tsx
  src/components/layout/yearInReview/2023/knowledge.tsx
  src/components/layout/yearInReview/2023/leadership.tsx
  src/components/layout/yearInReview/2023/movingForward.tsx
  src/components/layout/yearInReview/2023/partnerships.tsx
  src/components/layout/yearInReview/2023/playground.tsx
  src/components/layout/yearInReview/2023/tech-and-data.tsx
  src/components/layout/yearInReview/2023/theoryOfChange.tsx
  src/components/layout/yearInReview/2023/today-for-animals.tsx
  src/components/layout/yearInReview/2023/violetStudios.tsx
Due: lint --fix

Improves YiR 2023 'By The Numbers' tooltips
  src/components/layout/yearInReview/2023/byTheNumbers.tsx
Due: lint --fix

update yir 2023 granti link
  src/components/layout/grants/grantsCallToAction.tsx
  src/components/layout/yearInReview/2023/granti.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Fix out of date FUNDING file
  .github/FUNDING.yml
Due: prettier --write
