Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["lint --fix"],
  "*.{md,html,css,json,yml,yaml}": "prettier --write"
}

remove unused imports
  src/components/layout/yearInReview/2023/playground.tsx
  src/pages/_app.tsx
  src/pages/about/our-story.tsx
  src/pages/index.tsx
  src/pages/support.tsx
Due: lint --fix

remove unused image
  public/images/VH-hero-tagline.png
Due: none

remove unused code
  src/pages/about/our-story.tsx
Due: lint --fix

update landing page hero image alt text
  src/pages/index.tsx
Due: lint --fix

ignore lint errors
  src/lib/discord/index.ts
  src/lib/reddit/index.tsx
  src/lib/services/playground/admin.ts
Due: lint --fix

expect ts error
  src/lib/reddit/index.tsx
Due: lint --fix

smaller layout updates
  src/components/layout/join/candidateRequirement.tsx
  src/components/layout/playgroundSupportCta.tsx
  src/pages/about/our-story.tsx
  src/pages/join.tsx
  src/pages/services.tsx
  src/pages/support.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

fix services links
  src/pages/services.tsx
Due: lint --fix

fix work page links
  src/components/layout/work/likeWhatYouSee.tsx
Due: lint --fix

limit size of service blocks on service page
  src/pages/services.tsx
Due: lint --fix

update sharp package
  package.json
Due: prettier --write

add spacing on join page between pixel flower and paragraph
  src/pages/join.tsx
Due: lint --fix

update join page header
  src/pages/join.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

update translation file
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
Due: prettier --write

update pnpm lockfile
  pnpm-lock.yaml
Due: prettier --write

use list style position inside for bullet points on our story page
  src/pages/about/our-story.tsx
  src/pages/join.tsx
Due: lint --fix

remove bullets from list
  src/pages/about/our-story.tsx
Due: lint --fix

integrate design feedback and smaller text changes
  src/components/layout/playgroundSupportCta.tsx
  src/components/layout/work/legacyProjects.tsx
  src/components/layout/work/ourWork.tsx
  src/components/layout/work/sharingKnowledgeAndSupport.tsx
  src/components/layout/work/stateOfData.tsx
  src/pages/about/our-mission.tsx
  src/pages/about/our-story.tsx
  src/pages/about/our-values.tsx
  src/pages/join.tsx
  src/pages/services.tsx
  src/pages/support.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

add space
  src/pages/about/our-story.tsx
Due: lint --fix

Fix lottie ssr imports
  src/components/layout/header.tsx
  src/components/layout/support/violetStudios.tsx
  src/components/layout/work/designWork.tsx
  src/components/layout/yearInReview/2023/violetStudios.tsx
Due: lint --fix

Update nodejs version
  nixpacks.toml
Due: none

Revert "Update nodejs version"
  nixpacks.toml
Due: none

Update nodejs version
  package.json
Due: prettier --write

Downgrade node
  package.json
Due: prettier --write

Update lottie
  package.json
  pnpm-lock.yaml
Due: prettier --write

Replace react lottie player
  package.json
  pnpm-lock.yaml
  src/components/layout/header.tsx
  src/components/layout/support/violetStudios.tsx
  src/components/layout/work/designWork.tsx
  src/components/layout/yearInReview/2023/violetStudios.tsx
Due: lint --fix, prettier --write

Fix analytics loading issues
  src/pages/_document.tsx
Due: lint --fix

update footer structure and add badges
  public/images/footer/VH_footer_candid_guidestar_badge.png
  public/images/footer/VH_one_percent_for_the_planet_badge.png
  src/components/layout/footer/index.tsx
  src/components/layout/footer/links.tsx
  src/components/layout/footer/social.tsx
Due: lint --fix

Fix lottie header positioning
  src/components/layout/header.tsx
Due: lint --fix

move footer badges below links
  src/components/layout/footer/index.tsx
  src/components/layout/footer/links.tsx
Due: lint --fix

Update Node dependencies
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Due: lint --fix, prettier --write

Switch to CI biome check
  .github/workflows/lint.yml
Due: prettier --write

Attempt to fix workflow
  .github/workflows/lint.yml
Due: prettier --write

Install @biomejs/cli-linux-x64
  .github/workflows/lint.yml
Due: prettier --write

Always run
  .github/workflows/lint.yml
Due: prettier --write

Remove explanation template
  src/components/decoration/sprite/FloatingHeart.tsx
  src/components/decoration/sprite/index.tsx
  src/components/layout/playground/submitRequestForm.tsx
Due: lint --fix

Remove tsconfig.tsbuildinfo
  .gitignore
  tsconfig.tsbuildinfo
Due: none
