Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["lint --fix"],
  "*.{md,html,css,json,yml,yaml}": "prettier --write"
}

Remove contact information from data dashboard sidebar
  src/pages/data/index.tsx
Due: lint --fix

Extend data dashboard sidebar
  src/pages/data/index.tsx
Due: lint --fix

Convert data overview squares into components
  src/pages/data/index.tsx
Due: lint --fix

Remove unused image props
  src/pages/data/index.tsx
Due: lint --fix

Create volunteers people page
  src/components/layout/people.tsx
  src/pages/people/volunteers.tsx
Due: lint --fix

Hide non core members from team page
  src/pages/people/team.tsx
Due: lint --fix

New team card layout in a single direction
  src/pages/people/team.tsx
Due: lint --fix

Responsive team cards in alternating directions
  src/pages/people/team.tsx
Due: lint --fix

Scroll to top on project select
  src/pages/data/index.tsx
Due: lint --fix

Scroll to top on project select (#152)
  src/pages/data/index.tsx
Due: lint --fix

Update landing page
  src/__tests__/client/index.test.tsx
  src/components/layout/grants/grantsCallToAction.tsx
  src/components/layout/index/lastBlogEntries.tsx
  src/components/layout/joinTheTeam.tsx
  src/pages/index.tsx
Due: lint --fix

Remove exclamation mark
  src/components/layout/grants/grantsCallToAction.tsx
Due: lint --fix

Fix prettier text formatting
  src/components/layout/grants/grantsCallToAction.tsx
  src/components/layout/index/lastBlogEntries.tsx
  src/pages/index.tsx
Due: lint --fix

Make change to index file
  src/pages/index.tsx
Due: lint --fix

Change data dashboard table name
  prisma/migrations/20221007130257_change_data_dashboard_base_table_name/migration.sql
  prisma/schema.prisma
Due: none

Change data dashboard values
  prisma/migrations/20221006152827_change_data_dashboard_value/migration.sql
  prisma/schema.prisma
Due: none

Add basic data dashboard db structure
  prisma/migrations/20221005195454_add_data_dashboard_basic_structure/migration.sql
  prisma/schema.prisma
Due: none

Change data-dashboard data graphId to projectId
  prisma/migrations/20221007134903_change_data_dashboard_graph_id/migration.sql
  prisma/schema.prisma
Due: none

Add unique constrain for DataDashboardProject label
  prisma/migrations/20221007145936_add_data_dashboard_project_label_unique/migration.sql
  prisma/schema.prisma
Due: none

Add basic seeds for the data dashboard
  prisma/seed.ts
Due: lint --fix

Change data dashboard data references
  prisma/migrations/20221007142458_change_data_dashboard_data_references/migration.sql
  prisma/schema.prisma
Due: none

Remove DataDashboardValueId from db struct
  prisma/migrations/20221007144817_remove_data_dashboard_value_id/migration.sql
  prisma/schema.prisma
Due: none

Remove unnecessary semicolon on the team page
  src/pages/people/team.tsx
Due: lint --fix

Remove unnecessary semicolon on the team page (#154)
  src/pages/people/team.tsx
Due: lint --fix

Fix deployment issue
  src/pages/blog/[slug].tsx
Due: lint --fix

Change core-team design and remove load more
  src/pages/people/team.tsx
  src/pages/people/volunteers.tsx
Due: lint --fix

Fix core team desktop alignment
  src/pages/people/team.tsx
Due: lint --fix

Change core team page sorting
  src/pages/people/team.tsx
  src/types/generated/contentful.d.ts
Due: lint --fix

Remove core team page greyscaling
  src/pages/people/team.tsx
Due: lint --fix

Increase core team page font sizes
  src/pages/people/team.tsx
Due: lint --fix

Hide team sweet-potato from volunteer page
  src/pages/people/team.tsx
  src/pages/people/volunteers.tsx
Due: lint --fix

Change core member socials spacing
  src/pages/people/team.tsx
Due: lint --fix

Update README
  README.md
Due: prettier --write

Change volunteers to our volunteers on the teams page
  src/components/layout/people.tsx
Due: lint --fix

Replace core members team name with icon
  src/pages/people/team.tsx
Due: lint --fix

Fix changing team order on-click
  src/lib/stores/teamStore.ts
  src/pages/people/volunteers.tsx
Due: lint --fix

Fix hearts not always showing on animal click
  src/components/decoration/sprite/FloatingHeart.tsx
Due: lint --fix

Forward watch dominion emails to Stephan
  src/lib/mail/router/index.ts
Due: lint --fix

Fix stats layout on mobile & tablet
  src/components/layout/playground/layout.tsx
Due: lint --fix

Add ability to change image alignment
  src/components/decoration/hero.tsx
Due: lint --fix
