Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{js,jsx,ts,tsx,md,html,css,json}": "prettier --write"
}

Shuffle teams in people page
  src/__tests__/__snapshots__/index.tsx.snap
  src/pages/people/team.tsx
Due: eslint --fix, prettier --write

Load more button changes
  src/pages/people/team.tsx
  src/pages/projects.tsx
Due: eslint --fix, prettier --write

Upgrade deps
  package.json
  yarn.lock
Due: prettier --write

Fix URL capitalization
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/components/decoration/buttons/__snapshots__/index.tsx.snap
  src/__tests__/components/layout/__snapshots__/jobRole.tsx.snap
  src/__tests__/components/layout/__snapshots__/meetOurTeam.tsx.snap
  src/__tests__/pages/__snapshots__/join.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/decoration/buttons/index.tsx
  src/components/forms/inputs/selectInput.tsx
  src/lib/helpers/strings.ts
  src/lib/mail/index.ts
  src/pages/people/partners.tsx
  src/pages/projects.tsx
Due: eslint --fix, prettier --write

Add creatable select to gender option
  src/components/forms/contactUs.tsx
  src/components/forms/inputs/selectInput.tsx
  src/components/layout/grants/grantsApplication.tsx
Due: eslint --fix, prettier --write

Add padding to project animated chicken
  src/pages/projects.tsx
Due: eslint --fix, prettier --write

Add instagam icon to header
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write

make hero left square smaller
  src/__tests__/pages/__snapshots__/join.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/layout/about/index.tsx
  src/components/layout/people.tsx
  src/pages/blog/[slug].tsx
  src/pages/join.tsx
  src/pages/projects.tsx
  src/pages/services.tsx
  src/pages/support.tsx
Due: eslint --fix, prettier --write

Remove Read More button from Latest post entry
  src/components/layout/blog/blogEntrySummary.tsx
  src/pages/blog/index.tsx
Due: eslint --fix, prettier --write

Tweak white button appearence
  src/__tests__/components/decoration/buttons/__snapshots__/index.tsx.snap
  src/components/decoration/buttons/index.tsx
  src/pages/people/team.tsx
  src/pages/projects.tsx
Due: eslint --fix, prettier --write

UI change
  public/images/grants/content.jpg
  public/images/grants/designer.jpg
  public/images/grants/squarespace.jpg
  public/images/grants/website.png
  src/components/layout/grants/grantsPerks.tsx
Due: eslint --fix, prettier --write

Adding the production image to the new registry
  .github/workflows/deploy.yml
Due: none

Adding the production image to the new registry, typos
  .github/workflows/deploy.yml
Due: none

Adding the production image to the new registry, change in the name of the repo
  .github/workflows/deploy.yml
Due: none

Adding the production image to the new registry fixing docker run
  .github/workflows/deploy.yml
Due: none

Adding the production image to the new registry fixing docker pull
  .github/workflows/deploy.yml
Due: none

Adding the production image to the new registry fixing docker pull, typo
  .github/workflows/deploy.yml
Due: none

Update team.tsx
  src/pages/people/team.tsx
Due: eslint --fix, prettier --write

Update blogEntrySummary.tsx
  src/components/layout/blog/blogEntrySummary.tsx
Due: eslint --fix, prettier --write

Change some grants padding
  src/components/layout/grants/grantsPerks.tsx
Due: eslint --fix, prettier --write

Fix teams getting shuffled after a while on the page
  src/pages/people/team.tsx
Due: eslint --fix, prettier --write

Only shuffle team memebrs once
  src/pages/people/team.tsx
Due: eslint --fix, prettier --write

Include FontAwesome CSS
  src/components/layout/header.tsx
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

Add blog excerpt to ALL entries
  src/components/layout/blog/blogEntrySummary.tsx
Due: eslint --fix, prettier --write

Update deps
  package.json
  yarn.lock
Due: prettier --write

Extract grant perks to component
  src/components/layout/grants/grantsPerks.tsx
  src/pages/projects.tsx
Due: eslint --fix, prettier --write

Remove space between last entrues and grants
  src/__tests__/__snapshots__/index.tsx.snap
  src/components/layout/grants/grantsCallToAction.tsx
  src/components/layout/index/lastBlogEntries.tsx
Due: eslint --fix, prettier --write

Adjust last blog entries pixels
  src/__tests__/__snapshots__/index.tsx.snap
  src/components/layout/index/lastBlogEntries.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Fixing Image name
  .github/workflows/deploy.yml
Due: none

Style form sections
  src/components/forms/inputs/selectInput.tsx
  src/components/layout/grants/grantsApplication.tsx
  src/pages/grants/index.tsx
Due: eslint --fix, prettier --write

Add 'other' gender option
  src/components/forms/inputs/selectInput.tsx
  src/components/layout/grants/grantsApplication.tsx
Due: eslint --fix, prettier --write

Update padding of grants page
  src/components/layout/grants/grantsApplication.tsx
Due: eslint --fix, prettier --write

Update Images for Grants
  public/images/grants/call.jpg
  public/images/grants/website.png
  src/components/layout/grants/grantsPerks.tsx
Due: eslint --fix, prettier --write

Update text and padding
  src/components/layout/grants/grantsPerks.tsx
Due: eslint --fix, prettier --write

Reload page on toast timeout
  jestSetup.js
  src/components/forms/contactUs.tsx
  src/components/forms/inputs/selectInput.tsx
  src/components/layout/grants/grantsApplication.tsx
Due: eslint --fix, prettier --write

Better form feedback
  src/components/layout/grants/grantsApplication.tsx
Due: eslint --fix, prettier --write
