Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

Add blur placeholder to design sample modal
  src/components/layout/work/designSamples.tsx
Due: lint --fix

Change autoscroller spacing
  src/components/layout/work/ourWork.tsx
Due: lint --fix

3 column layout for featured projects
  src/components/layout/work/featuredProjects.tsx
Due: lint --fix

Make hero tagline smaller
  src/components/decoration/hero.tsx
  src/components/layout/work/workHero.tsx
Due: lint --fix

Make design sample thumbnail bigger
  src/components/decoration/carousel.tsx
  src/components/layout/work/designSamples.tsx
Due: lint --fix

Change design section header
  src/components/layout/work/designSamples.tsx
Due: lint --fix

Add link to communities
  src/components/layout/work/ourCommunities.tsx
Due: lint --fix

Correctly align state of data text
  src/components/layout/work/ourWork.tsx
  src/components/layout/work/stateOfData.tsx
Due: lint --fix

Add playground links
  src/components/layout/work/playground.tsx
Due: lint --fix

Increase button padding
  src/components/layout/work/likeWhatYouSee.tsx
Due: lint --fix

Leave more room for cow
  src/components/layout/work/kindWords.tsx
Due: lint --fix

Add buttons under scrolling logos
  src/components/layout/work/ourWork.tsx
Due: lint --fix

Show logo color on hover
  src/components/decoration/autoscroll.tsx
Due: lint --fix

Make design samples modal bigger
  src/components/layout/work/designSamples.tsx
Due: lint --fix

Fix incorrect images
  src/components/layout/work/designSamples.tsx
Due: lint --fix

Add labels to carousel buttons
  src/components/decoration/carousel.tsx
Due: lint --fix

Change project links to work
  src/components/layout/footer/links.tsx
  src/pages/index.tsx
Due: lint --fix

Enable Our Work page
  src/components/layout/header.tsx
Due: lint --fix

Delete projects page
  src/__tests__/pages/projects.tsx
  src/components/layout/projects/layout.tsx
  src/components/layout/projects/retired/index.tsx
  src/components/layout/projects/yearSelector.tsx
  src/pages/projects/index.tsx
  src/pages/projects/retired/index.tsx
Due: lint --fix

Hide flagged projects from list
  src/lib/cms/helpers.ts
  src/pages/work.tsx
  src/types/generated/contentful.d.ts
Due: lint --fix

Fix incorrect current page in carousel
  src/components/decoration/carousel.tsx
Due: lint --fix

Quick changes
  src/components/layout/work/likeWhatYouSee.tsx
  src/components/layout/work/ourWork.tsx
  src/components/layout/work/playground.tsx
  src/components/layout/work/sharingKnowledgeAndSupport.tsx
Due: lint --fix

Better featured projects layout in main page
  src/pages/index.tsx
Due: lint --fix

Upgrade next
  package.json
  pnpm-lock.yaml
  src/components/decoration/customImage.tsx
Due: lint --fix, prettier --write

Use legacy image for now
  src/components/decoration/customImage.tsx
Due: lint --fix

Fix button styles
  src/components/decoration/buttons/index.tsx
  src/components/forms/inputs/label.tsx
  src/components/layout/docs/searchBar.tsx
Due: lint --fix

Upgrade trpc
  package.json
  pnpm-lock.yaml
  src/components/layout/playground/adminCallout.tsx
  src/components/layout/playground/applicationCard.tsx
  src/components/layout/playground/applyForm.tsx
  src/components/layout/playground/requests/filters.tsx
  src/components/layout/playground/requests/requestCard.tsx
  src/lib/client/trpc.ts
  src/pages/playground/index.tsx
Due: lint --fix, prettier --write

Remove <a> from link elements
  src/components/decoration/buttons/utils.tsx
  src/components/decoration/link.tsx
  src/components/decoration/richText.tsx
  src/components/layout/blog/blogEntrySummary.tsx
  src/components/layout/blog/blogPageLayout.tsx
  src/components/layout/docs/searchResults.tsx
  src/components/layout/docs/sidebar.tsx
  src/components/layout/errorPage.tsx
  src/components/layout/footer/links.tsx
  src/components/layout/footer/social.tsx
  src/components/layout/header.tsx
  src/components/layout/playground/submitRequestForm.tsx
  src/components/layout/work/featuredProjects.tsx
  src/components/layout/yearInReview/2021/byTheNumbers.tsx
  src/components/layout/yearInReview/2021/featuredBlogPosts.tsx
  src/components/layout/yearInReview/2021/rebrand.tsx
  src/components/layout/yearInReview/2022/byTheNumbers.tsx
  src/components/layout/yearInReview/topPosts.tsx
  src/pages/about/our-story.tsx
  src/pages/handbook/[category]/[section].tsx
  src/pages/people/volunteers.tsx
Due: lint --fix

Fix weird type error
  src/components/decoration/customImage.tsx
  src/components/decoration/hero.tsx
  src/components/layout/contentfulImage.tsx
Due: lint --fix

Revert one nextjs minor to avoid build error
  package.json
  pnpm-lock.yaml
Due: prettier --write

Node 18
  .nvmrc
  docker/Dockerfile
  docker/Dockerfile.dev
Due: none

Use next font optimizer
  public/fonts/bitter-v28-latin-500.woff
  public/fonts/bitter-v28-latin-500.woff2
  public/fonts/bitter-v28-latin-500italic.woff
  public/fonts/bitter-v28-latin-500italic.woff2
  public/fonts/bitter-v28-latin-italic.woff
  public/fonts/bitter-v28-latin-italic.woff2
  public/fonts/pt-sans-v17-latin-700.woff
  public/fonts/pt-sans-v17-latin-700.woff2
  public/fonts/pt-sans-v17-latin-regular.woff
  public/fonts/pt-sans-v17-latin-regular.woff2
  public/fonts/rajdhani-v15-latin-300.woff
  public/fonts/rajdhani-v15-latin-300.woff2
  public/fonts/rajdhani-v15-latin-500.woff
  public/fonts/rajdhani-v15-latin-500.woff2
  public/fonts/rajdhani-v15-latin-600.woff
  public/fonts/rajdhani-v15-latin-600.woff2
  public/fonts/rajdhani-v15-latin-700.woff
  public/fonts/rajdhani-v15-latin-700.woff2
  src/components/layout/wrapper.tsx
  src/pages/_app.tsx
  src/styles/fonts.css
  tailwind.config.js
Due: lint --fix, prettier --write

Upgrade to typescript 5
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add new app folder to replace pages folder
  next-env.d.ts
  src/app/globals.css
  src/app/layout.tsx
  src/components/decoration/hero.tsx
  src/components/layout/header.tsx
  src/components/layout/wrapper.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  tsconfig.json
Due: lint --fix, prettier --write

Redirect /projects to /work
  next.config.js
Due: lint --fix

Path conditions:
  lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
