Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Set tagline as priority
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/pages/__snapshots__/projects.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/decoration/hero.tsx
Due: eslint --fix, prettier --write

Fix Hero component tagline
  src/components/layout/people.tsx
Due: eslint --fix, prettier --write

Remove warnings
  src/components/layout/grants/GrantsHero.tsx
  src/components/layout/people.tsx
Due: eslint --fix, prettier --write

Create LICENSE
  LICENSE
Due: none

Add CMS secrets to PRO
  .github/workflows/deploy.yml
  .github/workflows/dev-deploy.yml
  Dockerfile
  Dockerfile.dev
Due: none

Upgrade all deps
  package.json
  yarn.lock
Due: prettier --write

Specify CMS env
  src/lib/cms/index.ts
Due: eslint --fix, prettier --write

Regenerate types file
  src/lib/cms/index.ts
  src/pages/people/team.tsx
  src/types/generated/contentful.d.ts
Due: eslint --fix, prettier --write

Use . instead of [] to access env vars
  src/lib/cms/index.ts
Due: eslint --fix, prettier --write

Use --frozen-lockfile in dockerfile
  Dockerfile
Due: none

Remove duplicate env
  .github/workflows/deploy.yml
Due: none

Fix image ratio when changing viewport height
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/pages/__snapshots__/projects.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/decoration/hero.tsx
Due: eslint --fix, prettier --write

Fix Hero size and spacing
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/components/decoration/__snapshots__/hero.tsx.snap
  src/__tests__/pages/__snapshots__/projects.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/decoration/hero.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

Tweak min height in smaller screens
  tailwind.config.js
Due: eslint --fix, prettier --write

Tweak tagline sizes... again
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/components/decoration/__snapshots__/hero.tsx.snap
  src/__tests__/pages/__snapshots__/projects.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/decoration/hero.tsx
Due: eslint --fix, prettier --write

Add CMS vars to DEV environment
  .github/workflows/dev-deploy.yml
  Dockerfile.dev
Due: none

Revalidate teams page at most every 2 minutes
  src/pages/people/team.tsx
Due: eslint --fix, prettier --write

Tweak hero sizes again
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/components/decoration/__snapshots__/hero.tsx.snap
  src/__tests__/pages/__snapshots__/projects.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/decoration/hero.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

Adjust hero tagline margins
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/components/decoration/__snapshots__/hero.tsx.snap
  src/__tests__/pages/__snapshots__/projects.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/decoration/hero.tsx
  src/pages/people/team.tsx
Due: eslint --fix, prettier --write

Fix hero tagline edge cases
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/components/decoration/__snapshots__/hero.tsx.snap
  src/__tests__/pages/__snapshots__/projects.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/decoration/hero.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

Fix main hero padding
  src/__tests__/__snapshots__/index.tsx.snap
  src/components/decoration/hero.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,json}
