Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove blur from About and People heros
  src/components/layout/about/index.tsx
  src/components/layout/people.tsx
Due: eslint --fix, prettier --write

Improve dockerfile
  Dockerfile
Due: none

Specify node version
  Dockerfile
Due: none

Update dockerignore
  .dockerignore
Due: none

Get CMS secret ARGs
  Dockerfile
Due: none

Copy nextJS config file
  Dockerfile
Due: none

Use single configurable dockerfile
  .github/workflows/dev-deploy.yml
  Dockerfile
  Dockerfile.dev
Due: none

Set default port as 80 instead of 3000
  Dockerfile
Due: none

Add nginx and adjust docker compose
  .dockerignore
  Dockerfile
  docker-compose.override.yaml
  docker-compose.yaml
  nginx/Dockerfile
  nginx/default.conf
  package.json
  yarn.lock
Due: prettier --write

Update hero headers
  public/images/joinUs/VH-chicken2-hero-nocircles.jpg
  public/images/services/VH-chick-hero.jpg
Due: none

Bring server back up?
  src/pages/people/team.tsx
Due: eslint --fix, prettier --write

Use tini
  Dockerfile
Due: none

Use UID > 10000
  Dockerfile
Due: none

Use a more specific image version
  Dockerfile
Due: none

Skkip installing optional dependencies
  Dockerfile
  package.json
  yarn.lock
Due: prettier --write

Update more hero headers
  public/images/VH-pigs-hero.jpg
  public/images/people/VH-cow-hero-nocircles.jpg
Due: none

Revert "Specify placeholder strategy for all images"
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/components/layout/__snapshots__/candidateRequirement.tsx.snap
  src/__tests__/components/layout/__snapshots__/jobRole.tsx.snap
  src/__tests__/pages/__snapshots__/projects.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/decoration/hero.tsx
  src/components/decoration/sprite.tsx
  src/components/layout/about/index.tsx
  src/components/layout/candidateRequirement.tsx
  src/components/layout/contentfulImage.tsx
  src/components/layout/footer/index.tsx
  src/components/layout/grants/GrantsHeading.tsx
  src/components/layout/grants/GrantsPerks.tsx
  src/components/layout/grants/GrantsPollinationProject.tsx
  src/components/layout/grants/GrantsQualifications.tsx
  src/components/layout/header.tsx
  src/components/layout/jobRole.tsx
  src/components/layout/joinTheTeam.tsx
  src/components/layout/meetOurTeam.tsx
  src/components/layout/people.tsx
  src/pages/about/our-mission.tsx
  src/pages/about/our-story.tsx
  src/pages/about/our-values.tsx
  src/pages/index.tsx
  src/pages/join.tsx
  src/pages/projects.tsx
Due: eslint --fix, prettier --write

Add secrets to docker compose
  docker-compose.override.yaml
  docker-compose.yaml
Due: none

Add missing steps
  Dockerfile
  package.json
  yarn.lock
Due: prettier --write

Update VH-Hero-lamb.jpg
  public/images/VH-Hero-lamb.jpg
Due: none

Grant page updates
  src/components/layout/grants/GrantsPerks.tsx
  src/components/layout/grants/GrantsPollinationProject.tsx
  src/components/layout/grants/GrantsQualifications.tsx
Due: eslint --fix, prettier --write

Advisor image ratio fixed
  src/pages/people/advisors.tsx
Due: eslint --fix, prettier --write

Advisor description update
  src/pages/people/advisors.tsx
Due: eslint --fix, prettier --write

Bolder/bigger names for advisors
  src/pages/people/advisors.tsx
Due: eslint --fix, prettier --write

Add info box component
  src/__tests__/components/info-box.tsx
  src/components/info-box.tsx
Due: eslint --fix, prettier --write

Update services page to use info box component
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/pages/services.tsx
Due: eslint --fix, prettier --write

Update pascal case to camel case
  src/components/layout/grants/grantsApplication.tsx
  src/components/layout/grants/grantsHeading.tsx
  src/components/layout/grants/grantsHero.tsx
  src/components/layout/grants/grantsPerks.tsx
  src/components/layout/grants/grantsPollinationProject.tsx
  src/components/layout/grants/grantsQualifications.tsx
  src/components/layout/grants/grantsSubHeading.tsx
  src/components/layout/grants/index.ts
Due: eslint --fix, prettier --write

Replace type with interface
  src/components/decoration/link-card.tsx
Due: eslint --fix, prettier --write

Update info box component to use camelCase
  src/__tests__/components/infoBox.tsx
  src/components/infoBox.tsx
  src/pages/projects.tsx
  src/pages/services.tsx
Due: eslint --fix, prettier --write

Replace suggestAnIdea component with info box component
  src/__tests__/components/layout/__snapshots__/suggestAnIdea.tsx.snap
  src/__tests__/components/layout/suggestAnIdea.tsx
  src/components/layout/suggestAnIdea.tsx
  src/pages/projects.tsx
Due: eslint --fix, prettier --write

Semibold buttons for /grants
  src/components/layout/grants/GrantsPollinationProject.tsx
  src/components/layout/grants/GrantsQualifications.tsx
Due: eslint --fix, prettier --write

Update grantsQualifications.tsx
  src/components/layout/grants/grantsQualifications.tsx
Due: eslint --fix, prettier --write

Change title for index
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Fix projects tests
  src/__tests__/pages/__snapshots__/projects.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/__tests__/pages/projects.tsx
Due: eslint --fix, prettier --write

Add support for buttons in service page
  src/pages/services.tsx
Due: eslint --fix, prettier --write

Add buttons to Services, thanks Joaquin!
  src/pages/services.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,json}
