Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Use prettier for YAML files
  .dockerignore
  .lintstagedrc.json
Due: prettier --write

Don't ignore js files on lint
  .eslintignore
  .lintstagedrc.js
Due: eslint --fix

Lint whole project
  .lintstagedrc.js
  .lintstagedrc.json
  next.config.js
  postcss.config.js
  prisma/seed.ts
  src/__tests__/components/decoration/buttons/index.tsx
  src/__tests__/components/decoration/hero.tsx
  src/__tests__/components/infoBox.tsx
  src/__tests__/components/layout/candidateRequirement.tsx
  src/__tests__/components/layout/jobRole.tsx
  src/__tests__/components/layout/meetOurTeam.tsx
  src/__tests__/pages/join.tsx
  src/__tests__/pages/projects.tsx
  src/__tests__/pages/services.tsx
  src/hooks/useDeviceDetect.ts
  src/hooks/useHash.ts
  src/hooks/useWindowBreakpoint.ts
  src/server/routers/playground/admin.ts
  src/server/routers/playground/stats.ts
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

Call correct lint command
  .lintstagedrc.js
Due: eslint --fix

Lint all project files
  .lintstagedrc.json
  package.json
Due: prettier --write

Use default linter
  .lintstagedrc.js
Due: eslint --fix

Separate rules for JS files
  .eslintrc.js
  .github/workflows/lint.yml
  getContentfulEnvironment.js
  next.config.js
  tailwind.config.js
Due: eslint --fix, prettier --write

Fix checkout action
  .github/workflows/lint.yml
Due: prettier --write

Fix check result
  .github/workflows/lint.yml
Due: prettier --write

Disable telemetry
  .github/workflows/lint.yml
Due: prettier --write

Correctly deeetect failing actions
  .github/workflows/lint.yml
Due: prettier --write

Debug github actions
  .github/workflows/lint.yml
Due: prettier --write

Correctly show posted at date
  src/lib/helpers/date.ts
Due: eslint --fix

More list fixes
  .github/workflows/lint.yml
Due: prettier --write

More lint fixes
  .github/workflows/lint.yml
Due: prettier --write

[TEST] Add lint error
  src/hooks/useFuse.ts
  src/pages/index.tsx
Due: eslint --fix

[create-pull-request] automated change
  src/hooks/useFuse.ts
  src/pages/index.tsx
Due: eslint --fix

Create PR with lint fixes
  .eslintignore
  .github/actions/lint.yml
  .github/workflows/lint.yml
  .lintstagedrc.js
  .lintstagedrc.json
  next.config.js
  package.json
  postcss.config.js
  prisma/seed.ts
  src/__tests__/components/decoration/buttons/index.tsx
  src/__tests__/components/decoration/hero.tsx
  src/__tests__/components/infoBox.tsx
  src/__tests__/components/layout/candidateRequirement.tsx
  src/__tests__/components/layout/jobRole.tsx
  src/__tests__/components/layout/meetOurTeam.tsx
  src/__tests__/pages/join.tsx
  src/__tests__/pages/projects.tsx
  src/__tests__/pages/services.tsx
  src/hooks/useDeviceDetect.ts
  src/hooks/useHash.ts
  src/hooks/useWindowBreakpoint.ts
  src/server/routers/playground/admin.ts
  src/server/routers/playground/stats.ts
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

Use prettier for YAML files
  .dockerignore
Due: none

Allow triggering lint manually
  .github/workflows/lint.yml
Due: prettier --write

Delete prettierrc
  .prettierrc
Due: none

Don't run lint on draft PRs
  .github/workflows/lint.yml
Due: prettier --write

Apply for free website > Playground
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/pages/services.tsx
Due: eslint --fix

Fix category label
  src/components/layout/playground/applyForm.tsx
Due: eslint --fix

Correctly propagate Discord errors
  src/lib/discord/index.ts
  src/lib/services/playground/admin.ts
  src/server/routers/discord.ts
  src/server/routers/playground/stats.ts
Due: eslint --fix

Fix mobile style on admin requests page
  src/pages/playground/admin/index.tsx
Due: eslint --fix

Fix filters failing with empty list
  src/lib/services/playground/schemas.ts
Due: eslint --fix

Correctly ping playground roles
  src/lib/services/playground/admin.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
