Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["lint --fix"],
  "*.{md,html,css,json,yml,yaml}": "prettier --write"
}

Add commenting guideline to readme
  README.md
Due: prettier --write

Show applicants in live requests
  src/pages/playground/admin/index.tsx
Due: lint --fix

Remove obsolete application count note
  src/pages/playground/admin/index.tsx
Due: lint --fix

Reload user data on token request
  src/pages/api/auth/[...nextauth].ts
Due: lint --fix

Update requestor name in transaction
  src/lib/services/playground/index.ts
Due: lint --fix

Fix prisma
  prisma/schema.prisma
Due: none

Update env and readme
  .env.example
  README.md
Due: prettier --write

Add prisma update name
  src/lib/services/playground/index.ts
Due: lint --fix

Update "phone" as required in playground requests
  prisma/migrations/20221230170737_make_phone_mandatory_for_playground_requests/migration.sql
  prisma/schema.prisma
  src/components/layout/playground/submitRequestForm.tsx
  src/lib/services/playground/schemas.ts
Due: lint --fix

Keep phone optional in db
  prisma/migrations/20221230170737_make_phone_mandatory_for_playground_requests/migration.sql
  prisma/schema.prisma
Due: none

Add last manually pushed field to requests
  prisma/migrations/20230220210410_add_last_manual_publish_date_to_requests/migration.sql
  prisma/schema.prisma
  src/components/layout/playground/requests/requestCard.tsx
  src/lib/services/playground/admin.ts
  src/lib/services/playground/schemas.ts
  src/pages/playground/admin/index.tsx
Due: lint --fix

Update ref link for AAC.org
  src/components/layout/playground/layout.tsx
Due: lint --fix

Add AAC section above footer in playground emails
  docker-compose.yaml
  public/images/email/VH-email-footer-aac-pixels-bottom.png
  public/images/email/VH-email-footer-aac-pixels.png
  public/images/email/VH-email-footer.png
  src/components/layout/mail/emailTemplates.ts
  src/lib/services/playground/admin.ts
Due: lint --fix, prettier --write

Refactoring Parsing Filters From URL Parameters
  src/pages/playground/index.tsx
Due: lint --fix

Updating Filters Utilising URL Parameters
  src/components/layout/playground/requests/filters.tsx
  src/pages/playground/index.tsx
Due: lint --fix

Add URL Parameters to Playground Request Filters - Added for 'Category' filter & 'Job Type' filter - Will allow the filter to be 'recovered' when navigating back from a help request page
  src/components/layout/playground/requests/filters.tsx
  src/pages/playground/index.tsx
Due: lint --fix

Invalidate discord server cache daily
  src/lib/discord/index.ts
Due: lint --fix

Replace new lines with br tags in html email body
  src/lib/services/playground/admin.ts
Due: lint --fix

Add translation workflow to keep translation files and code in sync
  .github/workflows/translate.yaml
Due: prettier --write

Update translation files
  src/components/layout/support/progressBar/animatedBar.tsx
  src/components/layout/support/progressBar/index.tsx
  src/components/layout/support/progressBar/mobile/animatedBar.tsx
  src/components/layout/support/progressBar/mobile/index.tsx
  src/pages/support.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Fix typo on about page
  src/pages/about/our-mission.tsx
Due: lint --fix

Add api route for scheduled tasks
  package.json
  pnpm-lock.yaml
  src/pages/api/cron/hour.ts
Due: lint --fix, prettier --write

Show contact email in admin request cards
  src/components/layout/playground/requests/requestCard.tsx
  src/lib/services/playground/admin.ts
  src/server/routers/playground/admin.ts
Due: lint --fix

Update request card to break overflowing text
  prisma/seed.ts
  src/components/layout/playground/requests/requestCard.tsx
Due: lint --fix

Update db seed
  prisma/seed.ts
Due: lint --fix

Fix stale help request data when editing
  src/components/layout/playground/submitRequestForm.tsx
Due: lint --fix

Invalidate getRequest Cache on Successful Submission
  src/components/layout/playground/submitRequestForm.tsx
Due: lint --fix

Undo Previous Stale Help Request Data Fix
  src/components/layout/playground/submitRequestForm.tsx
Due: lint --fix

Fix Donorbox bottom margin
  src/components/layout/support/donorBoxCard.tsx
Due: lint --fix

Add hourly scheduled task to reject old requests without applications
  src/components/layout/mail/emailTemplates.ts
  src/lib/cron/hour/index.ts
  src/lib/cron/hour/rejectOldRequestsWithoutApplicantsTask.ts
  src/pages/api/cron/hour.ts
Due: lint --fix
