Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

Upgrade typescript and related plugins
  package.json
  pnpm-lock.yaml
Due: prettier --write

Tweak signin page, redirect to correct profile setup
  src/pages/auth/signin.tsx
Due: lint --fix

Adapt signup page to new changes
  src/pages/playground/signup.tsx
  src/types/next-auth.d.ts
Due: lint --fix

Fix axe disabling
  .env.example
  src/pages/_app.tsx
Due: lint --fix

Simplify ctxInput logic and performance
  src/server/procedures/middlewares.ts
Due: lint --fix

Set isApplicant and isRequestor in JWT
  src/pages/api/auth/[...nextauth].ts
  src/types/next-auth.d.ts
Due: lint --fix

Unify migrations, part 2
  prisma/migrations/20231201124010_add_requestor_user_role/migration.sql
  prisma/migrations/20231204112058_add_additional_profile_information_tables/migration.sql
  prisma/migrations/20231204133743_add_organization_table/migration.sql
  prisma/migrations/20231204134226_add_organization_reference_to_user/migration.sql
  prisma/migrations/20231204135316_add_requestor_contact_email/migration.sql
  prisma/migrations/20231204145046_change_organization_constraint/migration.sql
  prisma/migrations/20231204172556_extended_user_roles/migration.sql
Due: none

Fix invalid nextauth context creation
  src/pages/api/auth/[...nextauth].ts
  src/server/context.ts
Due: lint --fix

Allow custom email and db port
  .env.example
  docker-compose.yaml
Due: prettier --write

Extract provider props to make it easier to add new ones
  src/pages/auth/signin.tsx
Due: lint --fix

Add budget is present for profit request check back
  src/components/layout/signup/RequestorSignup.tsx
  src/lib/services/playground/index.ts
  src/lib/services/playground/schemas.ts
  src/server/procedures/auth.ts
  src/server/procedures/middlewares.ts
  src/server/routers/playground/account.ts
  src/server/routers/playground/requests.ts
  src/server/trpc.ts
Due: lint --fix

Fix more types???
  src/components/layout/playground/submitRequestForm.tsx
  src/lib/client/trpc.ts
  src/server/routers/playground/requests.ts
Due: lint --fix

Fix type errors
  src/components/layout/playground/submitRequestForm.tsx
  src/lib/services/playground/schemas.ts
  src/lib/stores/playground/submitRequestStore.ts
  src/pages/api/auth/[...nextauth].ts
Due: lint --fix

Fix role not being filled on user creation
  src/pages/api/auth/[...nextauth].ts
  src/pages/auth/signin.tsx
Due: lint --fix

Unify migrations, part 1
  prisma/migrations/20231204112058_add_additional_profile_information_tables/migration.sql
  prisma/migrations/20231206091721_add_applicant_origin/migration.sql
  prisma/migrations/20231206092222_remove_name_from_applicant_info/migration.sql
Due: none

Fix type errors
  src/server/procedures/middlewares.ts
Due: lint --fix

Remove redundant router
  src/pages/auth/signin.tsx
Due: lint --fix

Remove unneeded casts
  src/server/procedures/middlewares.ts
Due: lint --fix

Simplify role selector
  src/pages/auth/signin.tsx
Due: lint --fix

Restore prettier comma rule, run linter
  .eslintrc.js
  prisma/seed.ts
  src/components/forms/inputs/selectInput.tsx
  src/components/layout/header.tsx
  src/components/layout/mail/emailTemplates.ts
  src/components/layout/playground/applyForm.tsx
  src/components/layout/playground/faqSection.tsx
  src/components/layout/playground/layout.tsx
  src/components/layout/playground/requests/requestCard.tsx
  src/components/layout/playground/submitRequestForm.tsx
  src/components/layout/signup/RequestorSignup.tsx
  src/lib/client/trpc.ts
  src/lib/cron/hour/sendInternalEmailNotificationForRequestsWithoutApplicationsTask.ts
  src/lib/services/playground/admin.ts
  src/lib/services/playground/index.ts
  src/lib/services/playground/schemas.ts
  src/lib/stores/playground/submitRequestStore.ts
  src/pages/api/auth/[...nextauth].ts
  src/pages/auth/signin.tsx
  src/pages/people/team.tsx
  src/pages/people/volunteers.tsx
  src/server/context.ts
  src/server/procedures/auth.ts
  src/server/procedures/middlewares.ts
  src/server/routers/playground/requests.ts
  src/server/trpc.ts
Due: lint --fix

Avoid inconsistent role and applications/requests
  prisma/seed.ts
Due: lint --fix

remove unused dependency react-responsive
  package.json
  pnpm-lock.yaml
Due: prettier --write

update translations
  translation/data/en.json
Due: prettier --write

update vulnerable package versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

update eslint
  package.json
  pnpm-lock.yaml
Due: prettier --write

conditionally enable locale selector when locales are available
  next.config.js
  src/components/layout/header.tsx
  src/components/layout/localeSelector.tsx
Due: lint --fix

fix lockfile
  pnpm-lock.yaml
Due: prettier --write

Better padding
  src/components/layout/support/thankYouSection.tsx
  src/pages/join.tsx
Due: lint --fix

update readme
  README.md
Due: prettier --write

regenerate lockfile
  pnpm-lock.yaml
Due: prettier --write

revert dependency overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix dockerfile
  docker/Dockerfile
  package.json
  scripts/postinstall.sh
Due: prettier --write

fix type error
  src/pages/api/auth/[...nextauth].ts
Due: lint --fix

remove locale from root link
  src/components/layout/header.tsx
Due: lint --fix

Update request detail page
  src/components/layout/playground/applyForm.tsx
  src/server/routers/playground/requests.ts
Due: lint --fix

Fix type issues
  src/components/layout/playground/applyForm.tsx
  src/lib/services/playground/schemas.ts
Due: lint --fix

Slim down apply form
  src/components/layout/playground/applyForm.tsx
  src/lib/services/playground/schemas.ts
  src/server/routers/playground/applications.ts
Due: lint --fix

Update submit request form
  src/components/layout/playground/submitRequestForm.tsx
  src/lib/services/playground/schemas.ts
Due: lint --fix

Fix request submit
  src/components/layout/playground/submitRequestForm.tsx
  src/lib/services/playground/index.ts
Due: lint --fix

Path conditions:
  lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
