Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

Fix user cache flushing
  src/middleware.ts
Due: lint --fix

Tweak signin page, redirect to correct profile setup
  src/pages/auth/signin.tsx
Due: lint --fix

Set isApplicant and isRequestor in JWT
  src/pages/api/auth/[...nextauth].ts
  src/types/next-auth.d.ts
Due: lint --fix

Extract provider props to make it easier to add new ones
  src/pages/auth/signin.tsx
Due: lint --fix

Fix usage of NEXT_LOCALE with next 13
  src/middleware.ts
Due: lint --fix

Require separate text for Label instead of misusing name
  src/components/forms/contactUs.tsx
  src/components/forms/inputs/label.tsx
  src/components/forms/inputs/radioButton.tsx
  src/components/forms/inputs/selectInput.tsx
  src/components/layout/playground/submitRequestForm.tsx
  src/lib/translation/messages.ts
Due: lint --fix

Fix people team static props
  src/components/layout/header.tsx
Due: lint --fix

Fix usage of label as name
  src/components/forms/contactUs.tsx
Due: lint --fix

WIP refinedev integration
  docker-compose.yaml
  package.json
  pnpm-lock.yaml
  src/components/layout/adminLayout.tsx
  src/pages/_app.tsx
  src/pages/playground/admin/applications.tsx
  src/pages/playground/admin/old_applications.tsx
  src/pages/playground/admin/old_index.tsx
  src/pages/users.tsx
Due: lint --fix, prettier --write

Update /pages/work/ Translation Setup
  src/components/layout/work/grantProgram.tsx
  src/components/layout/work/kindWords.tsx
  src/components/layout/work/ourCommunities.tsx
  src/components/layout/work/playground.tsx
  src/components/layout/work/sharingKnowledgeAndSupport.tsx
  src/components/layout/work/stateOfData.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Add base datagrid component + basic first applications grid
  package.json
  pnpm-lock.yaml
  src/components/dataGrid.tsx
  src/pages/playground/admin/_applications.tsx
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix, prettier --write

Update application grid
  src/components/dataGrid.tsx
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Remove pre-commit hook
  .husky/pre-commit
Due: none

Add prisma zod scheme generator
  .gitignore
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Due: prettier --write

Add basic grid editing
  package.json
  pnpm-lock.yaml
  src/components/dataGrid.tsx
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix, prettier --write

Add missing fields to select
  src/server/routers/playground/admin.ts
Due: lint --fix

Add sorting callback to datagrid component
  src/components/dataGrid.tsx
Due: lint --fix

Add server-sorting to data grid
  src/components/dataGrid.tsx
  src/lib/helpers/sorting.ts
  src/lib/services/playground/schemas.ts
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Improve datagrid sorting
  src/components/dataGrid.tsx
  src/pages/playground/admin/applications.tsx
Due: lint --fix

Add nested field update helper + Add nested updates to application datagrid
  src/lib/helpers/datagrid.ts
  src/lib/helpers/sorting.ts
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Add page-size selector to datagrid
  src/components/dataGrid.tsx
  src/lib/services/playground/schemas.ts
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Add pagination to datagrid
  src/components/dataGrid.tsx
Due: lint --fix

WIP datagrid filters
  src/components/dataGrid.tsx
  src/lib/services/playground/schemas.ts
  src/pages/playground/admin/applications.tsx
Due: lint --fix

Add datagrid filters
  src/components/dataGrid.tsx
  src/lib/helpers/datagrid.ts
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Update filters to make them case insensivite
  src/lib/helpers/datagrid.ts
Due: lint --fix

Add a search option for datagrids
  src/components/dataGrid.tsx
  src/lib/helpers/datagrid.ts
  src/lib/services/playground/schemas.ts
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Cleanup code + Fix type errors
  .eslintignore
  src/components/dataGrid.tsx
  src/lib/helpers/datagrid.ts
  src/lib/services/playground/schemas.ts
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

use children to pass a label to input components
  src/components/forms/contactUs.tsx
  src/components/forms/inputs/checkbox.tsx
  src/components/forms/inputs/label.tsx
  src/components/forms/inputs/textArea.tsx
  src/components/forms/inputs/textInput.tsx
  src/components/layout/docs/searchBar.tsx
  src/components/layout/grants/grantsApplication.tsx
  src/components/layout/newsletter.tsx
  src/components/layout/playground/applyForm.tsx
  src/components/layout/playground/submitRequestForm.tsx
Due: lint --fix

migrate links to next 13
  src/components/layout/yearInReview/2022/byTheNumbers.tsx
Due: lint --fix

Use defaultLocale translations in compile step as fallback
  translation/compile.ts
Due: lint --fix

Remove pnpx from prisma generator
  prisma/schema.prisma
Due: none

Remove patreon call
  src/pages/support.tsx
Due: lint --fix

Add basic account table structure
  prisma/migrations/20231204112058_add_attional_profile_information_tables/migration.sql
  prisma/migrations/20231204133743_add_organization_table/migration.sql
  prisma/schema.prisma
Due: none

Add base requestor signup page
  prisma/migrations/20231201124010_add_requestor_user_role/migration.sql
  prisma/schema.prisma
  src/components/layout/playground/submitRequestForm.tsx
  src/components/layout/signup/RequestorSignup.tsx
  src/lib/client/trpc.ts
  src/lib/services/playground/schemas.ts
  src/pages/playground/signup.tsx
Due: lint --fix

Add dockerfile to root
  Dockerfile
Due: none

Test generated DB values
  prisma/migrations/20231204172556_db_generated_values/migration.sql
  prisma/seed.ts
Due: lint --fix

Migrate existing data, add missing CASE to generated view
  prisma/migrations/20231204172556_db_generated_values/migration.sql
Due: none

Remove calculated columns from prisma client
  src/lib/db/prisma.ts
Due: lint --fix

Add applicant signup to the signup api route
  src/server/routers/playground/account.ts
Due: lint --fix

Update formatting
  src/components/layout/signup/RequestorSignup.tsx
  src/pages/playground/signup.tsx
Due: lint --fix

Path conditions:
  lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
