Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

Remove unnecessary transactions and updates
  src/lib/services/playground/index.ts
Due: lint --fix

Update queries for emails
  src/components/layout/mail/emailTemplates.ts
  src/components/layout/playground/applyForm.tsx
  src/components/layout/playground/submitRequestForm.tsx
  src/lib/services/playground/admin.ts
  src/lib/services/playground/index.ts
  src/lib/services/playground/schemas.ts
  src/server/routers/playground/applications.ts
  src/server/routers/playground/requests.ts
  src/server/routers/playground/stats.ts
Due: lint --fix

Fix issues
  src/components/layout/mail/emailTemplates.ts
  src/components/layout/playground/applicationCard.tsxold
  src/components/layout/signup/ApplicantSignup.tsx
  src/lib/cron/hour/rejectOldRequestsWithoutApplicantsTask.ts
  src/lib/cron/hour/requestFeedbackTask.ts
  src/lib/services/playground/admin.ts
  src/pages/playground/admin/_applications.tsx
  src/pages/playground/admin/index.tsx
Due: lint --fix

Add datagrid trpc endpoint for requests
  src/server/routers/playground/admin.ts
Due: lint --fix

Add base request grid
  src/pages/playground/admin/index.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Add search for the requests grid
  src/server/routers/playground/admin.ts
Due: lint --fix

Make entries updateable in the request grid
  src/pages/playground/admin/index.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Add submenu component
  src/components/layout/submenu.tsx
Due: lint --fix

Add submenu to the requests admin page
  src/pages/playground/admin/index.tsx
Due: lint --fix

Add submenu to applications admin page
  src/pages/playground/admin/applications.tsx
Due: lint --fix

Add endpoints for requestor grid
  src/server/routers/playground/admin.ts
Due: lint --fix

Add requestor datagrid
  src/pages/playground/admin/_applications.tsx
  src/pages/playground/admin/applications.tsx
  src/pages/playground/admin/index.tsx
  src/pages/playground/admin/requestors.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Add applicant datagrid
  src/pages/playground/admin/applicants.tsx
  src/pages/playground/admin/applications.tsx
  src/pages/playground/admin/index.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Add datagrid json cell renderer and cell editor
  src/components/dataGrid/index.tsx
  src/components/dataGrid/renderer.tsx
  src/pages/playground/admin/applicants.tsx
  src/pages/playground/admin/applications.tsx
  src/pages/playground/admin/index.tsx
  src/pages/playground/admin/requestors.tsx
Due: lint --fix

Update translations
  translation/data/de.json
  translation/data/zh.json
Due: prettier --write

Update design section of /work to present violet studios
  src/components/layout/support/violetStudios.tsx
  src/components/layout/work/designSamples.tsx
  src/components/layout/work/designWork.tsx
  src/pages/work.tsx
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
Due: lint --fix, prettier --write

Update squares of design section on /work
  src/components/layout/work/designWork.tsx
  src/components/layout/work/hoursVolunteered.tsx
  src/components/layout/work/otherProjects.tsx
Due: lint --fix

Fix hero image alignments
  src/components/decoration/hero.tsx
  src/components/layout/about.tsx
  src/components/layout/people.tsx
  src/components/layout/playground/layout.tsx
  src/components/layout/work/workHero.tsx
  src/pages/join.tsx
  src/pages/services.tsx
  src/pages/support.tsx
Due: lint --fix

Upgrade next to v14
  package.json
  pnpm-lock.yaml
Due: prettier --write

Migrate next image config
  next.config.js
Due: lint --fix

translate section headers
  src/components/layout/shareDialog/index.tsx
  src/components/layout/work/designWork.tsx
  src/components/layout/work/featuredProjects.tsx
  src/components/layout/work/grantProgram.tsx
  src/components/layout/work/likeWhatYouSee.tsx
  src/components/layout/work/otherProjects.tsx
  src/components/layout/work/ourCommunities.tsx
  src/components/layout/work/ourWork.tsx
  src/components/layout/work/sharingKnowledgeAndSupport.tsx
  src/components/layout/work/stateOfData.tsx
  src/components/layout/yearInReview/2021/advisoryService.tsx
  src/components/layout/yearInReview/2021/animatedVideos.tsx
  src/components/layout/yearInReview/2021/communityGrowth.tsx
  src/components/layout/yearInReview/2021/designsForVeganOrgs.tsx
  src/components/layout/yearInReview/2021/featuredBlogPosts.tsx
  src/components/layout/yearInReview/2021/featuredProjects.tsx
  src/components/layout/yearInReview/2021/feedbackAndTesting.tsx
  src/components/layout/yearInReview/2021/minorChangesBigImpact.tsx
  src/components/layout/yearInReview/2021/newsletterLaunch.tsx
  src/components/layout/yearInReview/2021/partnerships.tsx
  src/components/layout/yearInReview/2021/playground.tsx
  src/components/layout/yearInReview/2021/rebrand.tsx
  src/components/layout/yearInReview/2022/bonusProjects.tsx
  src/components/layout/yearInReview/2022/featuredInterviews.tsx
  src/components/layout/yearInReview/2022/grantProgram.tsx
  src/components/layout/yearInReview/2022/intro.tsx
  src/components/layout/yearInReview/2022/minorChangesBigImpact.tsx
  src/components/layout/yearInReview/2022/moreEffectiveTeams.tsx
  src/components/layout/yearInReview/2022/newVideos.tsx
  src/components/layout/yearInReview/2022/sharingKnowledgeAndSupport.tsx
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
Due: lint --fix, prettier --write

use 'new' design for all section headlines
  src/components/decoration/textBlocks.tsx
  src/components/layout/work/grantProgram.tsx
  src/components/layout/work/sharingKnowledgeAndSupport.tsx
  src/components/layout/work/stateOfData.tsx
  src/components/layout/yearInReview/2022/bonusProjects.tsx
  src/components/layout/yearInReview/2022/featuredInterviews.tsx
  src/components/layout/yearInReview/2022/grantProgram.tsx
  src/components/layout/yearInReview/2022/intro.tsx
  src/components/layout/yearInReview/2022/minorChangesBigImpact.tsx
  src/components/layout/yearInReview/2022/moreEffectiveTeams.tsx
  src/components/layout/yearInReview/2022/newVideos.tsx
  src/components/layout/yearInReview/2022/sharingKnowledgeAndSupport.tsx
Due: lint --fix

Improve translation quality
  package.json
  pnpm-lock.yaml
  public/robots.txt
  src/components/decoration/buttons/index.tsx
  src/components/layout/grants/grantsApplication.tsx
  src/components/layout/grants/grantsPerks.tsx
  src/components/layout/header.tsx
  src/components/layout/localeSelector.tsx
  src/components/layout/support/donationCard.tsx
  src/components/layout/work/featuredProjects.tsx
  src/components/layout/work/hoursVolunteered.tsx
  src/components/layout/work/ourCommunities.tsx
  src/components/layout/wrapper.tsx
  src/components/layout/yearInReview/2022/intro.tsx
  src/components/layout/yearInReview/2022/stateOfData.tsx
  src/pages/about/our-mission.tsx
  src/pages/index.tsx
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
  translation/update.ts
Due: lint --fix, prettier --write

Add translations
  src/components/layout/join/jobRole.tsx
  src/components/layout/join/joinPlayground.tsx
  src/components/layout/join/priorityRole.tsx
  src/components/layout/meetOurTeam.tsx
  src/components/layout/playground/faqSection.tsx
  src/components/layout/playground/layout.tsx
  src/components/layout/playground/requests/requestCard.tsx
  src/components/layout/support/thankYouSection.tsx
  src/components/layout/work/hoursVolunteered.tsx
  src/pages/playground/index.tsx
  translation/data/de.json
  translation/data/en.json
Due: lint --fix, prettier --write

Add 'sharp' env variable
  docker/Dockerfile
Due: none

Add some playground translations
  src/pages/playground/submit.tsx
  translation/data/de.json
  translation/data/en.json
Due: lint --fix, prettier --write

Update formatjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update localization documentation
  README.md
  translation/data/zh.json
  translation/extract.ts
Due: lint --fix, prettier --write

Use one translation button per page
  package.json
  pnpm-lock.yaml
  src/components/TranslatableContentfulEntryField.tsx
  src/components/layout/blog/blogEntrySummary.tsx
  src/components/layout/blog/blogPageLayout.tsx
  src/components/layout/blog/blogsHeader.tsx
  src/components/layout/people.tsx
  src/components/layout/work/featuredProjects.tsx
  src/components/layout/work/ourWork.tsx
  src/components/localization/LocalizedContentfulEntryField.tsx
  src/components/localization/LocalizedContentfulPage.tsx
  src/components/localization/LocalizedContentfulPageToggleButton.tsx
  src/components/localization/README.md
  src/components/localization/useContentfulLocalizationContext.tsx
  src/lib/cron/hour/index.ts
  src/lib/services/translation/index.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/people/partners.tsx
  src/pages/people/team.tsx
  src/pages/work.tsx
  translation/data/de.json
  translation/data/en.json
Due: lint --fix, prettier --write

Enable automatic translations for contentful entries
  package.json
  pnpm-lock.yaml
  prisma/migrations/20240223172902_add_contentful_translation_cache/migration.sql
  prisma/schema.prisma
  src/components/TranslatableContentfulEntryField.tsx
  src/components/layout/blog/blogEntrySummary.tsx
  src/components/layout/blog/blogPageLayout.tsx
  src/components/layout/localeSelector.tsx
  src/components/layout/work/featuredProjects.tsx
  src/components/layout/work/likeWhatYouSee.tsx
  src/lib/client/trpc.ts
  src/lib/cron/hour/invalidateContentfulTranslationCache.ts
  src/lib/services/translation/index.tsx
  src/lib/services/translation/schemas.ts
  src/lib/translation/messages.ts
  src/lib/translation/useRouterLocale.ts
  src/pages/blog/[slug].tsx
  src/pages/handbook/[category]/[section].tsx
  src/pages/people/partners.tsx
  src/pages/people/team.tsx
  src/server/routers/_app.ts
  src/server/routers/translation/index.ts
  translation/_util.ts
  translation/data/de.json
  translation/data/en.json
  translation/deepl.ts
  translation/defaultLocale.ts
Due: lint --fix, prettier --write

Update email footer
  src/components/layout/mail/emailTemplates.ts
Due: lint --fix

Groundwork for /work/ move to /app/ folder
  app/layout.tsx
  app/work/page.tsx
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/components/decoration/animatedNumber.tsx
  src/components/decoration/buttons/index.tsx
  src/components/decoration/carousel.tsx
  src/components/decoration/hero.tsx
  src/components/decoration/sprite/index.tsx
  src/components/forms/contactUs.tsx
  src/components/layout/accordion.tsx
  src/components/layout/footer/links.tsx
  src/components/layout/footer/social.tsx
  src/components/layout/header.tsx
  src/components/layout/joinTheTeam.tsx
  src/components/layout/newsletter.tsx
  src/components/layout/playground/layout.tsx
  src/components/layout/work/designSamples.tsx
  src/components/layout/work/featuredProjects.tsx
  src/components/layout/work/grantProgram.tsx
  src/components/layout/work/hoursVolunteered.tsx
  src/components/layout/work/kindWords.tsx
  src/components/layout/work/likeWhatYouSee.tsx
  src/components/layout/work/ourCommunities.tsx
  src/components/layout/work/ourWork.tsx
  src/components/layout/work/playground.tsx
  src/components/layout/work/sharingKnowledgeAndSupport.tsx
  src/components/layout/work/stateOfData.tsx
  src/hooks/useDeviceDetect.ts
  src/lib/translation/TranslationProvider.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  tsconfig.json
Due: lint --fix, prettier --write

Remove test paragraph tag
  app/work/page.tsx
Due: lint --fix

Move sharp env var to runner stage in Dockerfile
  docker/Dockerfile
Due: none

Reduce number of logs by scheduled tasks
  src/lib/cron/hour/rejectOldRequestsWithoutApplicantsTask.ts
  src/lib/cron/hour/requestFeedbackTask.ts
  src/lib/cron/hour/sendInternalEmailNotificationForRequestsWithoutApplicationsTask.ts
Due: lint --fix

Update Dockerfile
  docker/Dockerfile
Due: none

Remove 'sharp' env variable from Dockerfile
  docker/Dockerfile
Due: none

Fix Dockerfile base version
  docker/Dockerfile
Due: none

Fix pnpm availability in Dockerfile
  docker/Dockerfile
Due: none

Path conditions:
  lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
