Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

Add flockwork modal
  src/components/layout/flockworkModal.tsx
  src/components/layout/playground/layout.tsx
Due: lint --fix

Add redirect for request submit
  src/pages/playground/submit.tsx
Due: lint --fix

Add source url query for flockwork redirect
  src/components/layout/flockworkModal.tsx
  src/pages/playground/submit.tsx
Due: lint --fix

Remove Reddit integration & snoowrap (vulnerable)
  package.json
  pnpm-lock.yaml
  src/lib/reddit/index.tsx
  src/lib/services/playground/admin.ts
Due: lint --fix, prettier --write

Upgrade packages to fix vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade eslint-config-next to fix vulnerability
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade qs to fix vulnerability
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add violets-just-bloom page
  public/images/card-sprite.png
  public/images/paper-fibers.png
  public/images/violets-card.png
  src/pages/_app.tsx
  src/pages/violets-just-bloom/index.tsx
Due: lint --fix

Add violets-just-bloom version 2
  public/images/mushrooms/mushroom1.png
  public/images/mushrooms/mushroom2.png
  public/images/mushrooms/mushroom3.png
  public/images/mushrooms/mushroom4.png
  public/images/paper-fibers.jpg
  public/images/paper-fibers.png
  public/images/planets/planet1.png
  public/images/planets/planet2.png
  public/images/planets/planet3.png
  public/images/star.png
  src/pages/_app.tsx
  src/pages/violets-just-bloom/version2.tsx
Due: lint --fix

Update planet & star rendering
  src/pages/violets-just-bloom/version2.tsx
Due: lint --fix

Fix constructor
  src/pages/violets-just-bloom/version2.tsx
Due: lint --fix

Fix type error
  src/pages/violets-just-bloom/version2.tsx
Due: lint --fix

Fix mobile issue
  src/pages/violets-just-bloom/index.tsx
  src/pages/violets-just-bloom/version2.tsx
Due: lint --fix

Fix footer link
  src/components/layout/footer/links.tsx
Due: lint --fix

Enforce safe Node.js version
  nixpacks.toml
Due: none

Path conditions:
  lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
