Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

Simplify role selector
  src/pages/auth/signin.tsx
Due: lint --fix

Add type to organization table
  prisma/migrations/20231205134052_add_organization_type/migration.sql
  prisma/schema.prisma
Due: none

Update formatting
  src/components/layout/signup/RequestorSignup.tsx
  src/pages/playground/signup.tsx
Due: lint --fix

Migrate existing data, add missing CASE to generated view
  prisma/migrations/20231204172556_db_generated_values/migration.sql
Due: none

Unify migrations, part 1
  prisma/migrations/20231204112058_add_additional_profile_information_tables/migration.sql
  prisma/migrations/20231206091721_add_applicant_origin/migration.sql
  prisma/migrations/20231206092222_remove_name_from_applicant_info/migration.sql
Due: none

Remove unneeded casts
  src/server/procedures/middlewares.ts
Due: lint --fix

Go back to basic client
  src/lib/db/prisma.ts
  src/pages/api/auth/[...nextauth].ts
Due: lint --fix

Add applicant signup page/form
  src/components/layout/signup/ApplicantSignup.tsx
  src/pages/playground/signup.tsx
Due: lint --fix

Test generated DB values
  prisma/migrations/20231204172556_db_generated_values/migration.sql
  prisma/seed.ts
Due: lint --fix

Fix formatting
  src/components/layout/signup/ApplicantSignup.tsx
  src/pages/playground/signup.tsx
  src/server/routers/playground/account.ts
Due: lint --fix

WIP login page
  src/pages/auth/signin.tsx
Due: lint --fix

Simplify ctxInput logic and performance
  src/server/procedures/middlewares.ts
Due: lint --fix

Upgrade typescript and related plugins
  package.json
  pnpm-lock.yaml
Due: prettier --write

Remove pre-commit hook
  .husky/pre-commit
Due: none

Set isApplicant and isRequestor in JWT
  src/pages/api/auth/[...nextauth].ts
  src/types/next-auth.d.ts
Due: lint --fix

Fix invalid nextauth context creation
  src/pages/api/auth/[...nextauth].ts
  src/server/context.ts
Due: lint --fix

Adapt signup page to new changes
  src/pages/playground/signup.tsx
  src/types/next-auth.d.ts
Due: lint --fix

Refetch data when modified
  src/pages/playground/admin/applications.tsx
Due: lint --fix

Restore prettier comma rule, run linter
  .eslintrc.js
  prisma/seed.ts
  src/components/forms/contactUs.tsx
  src/components/forms/inputs/selectInput.tsx
  src/components/layout/header.tsx
  src/components/layout/mail/emailTemplates.ts
  src/components/layout/playground/applyForm.tsx
  src/components/layout/playground/faqSection.tsx
  src/components/layout/playground/layout.tsx
  src/components/layout/playground/requests/requestCard.tsx
  src/components/layout/playground/submitRequestForm.tsx
  src/components/layout/signup/RequestorSignup.tsx
  src/components/layout/work/designSamples.tsx
  src/lib/client/trpc.ts
  src/lib/cron/hour/sendInternalEmailNotificationForRequestsWithoutApplicationsTask.ts
  src/lib/services/playground/admin.ts
  src/lib/services/playground/index.ts
  src/lib/services/playground/schemas.ts
  src/lib/stores/playground/submitRequestStore.ts
  src/pages/api/auth/[...nextauth].ts
  src/pages/auth/signin.tsx
  src/pages/people/team.tsx
  src/pages/people/volunteers.tsx
  src/server/context.ts
  src/server/procedures/auth.ts
  src/server/procedures/middlewares.ts
  src/server/routers/playground/requests.ts
  src/server/trpc.ts
Due: lint --fix

Fix type errors
  src/server/procedures/middlewares.ts
Due: lint --fix

Add helper to extract nullable fields from zod schema
  src/lib/helpers/datagrid.ts
Due: lint --fix

Update nullable extractor to allow nested deeper nested schemas
  src/lib/helpers/datagrid.ts
Due: lint --fix

Add helper function to transform values for non nullable fields
  src/lib/helpers/datagrid.ts
Due: lint --fix

Update non-nullable helper + Add helper to non nullable fields nullable
  src/lib/helpers/datagrid.ts
Due: lint --fix

Update update-application route input
  src/server/routers/playground/admin.ts
Due: lint --fix

Fix pnpm.lock
  pnpm-lock.yaml
Due: prettier --write

Update migrations to create default organizations and assign those to the requests
  prisma/migrations/20231205134052_add_organization_type/migration.sql
  prisma/migrations/20231222083511_remove_duplicated_and_unecessary_fields/migration.sql
Due: none

Update table schema + seeder
  prisma/migrations/20231222101332_remove_playground_request_orga_type/migration.sql
  prisma/migrations/20231222104925_update_origin_column/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: lint --fix

Update request submit and update
  src/components/layout/playground/submitRequestForm.tsx
  src/lib/services/playground/index.ts
  src/lib/services/playground/schemas.ts
Due: lint --fix

Update services page
  src/pages/services.tsx
Due: lint --fix

Update join us page
  src/pages/join.tsx
Due: lint --fix

Update services link
  src/pages/services.tsx
Due: lint --fix

Add prisma zod scheme generator
  .gitignore
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Due: prettier --write

Update application grid
  src/components/dataGrid.tsx
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Add base datagrid component + basic first applications grid
  package.json
  pnpm-lock.yaml
  src/components/dataGrid.tsx
  src/pages/playground/admin/_applications.tsx
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix, prettier --write

Add basic grid editing
  package.json
  pnpm-lock.yaml
  src/components/dataGrid.tsx
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix, prettier --write

Add server-sorting to data grid
  src/components/dataGrid.tsx
  src/lib/helpers/sorting.ts
  src/lib/services/playground/schemas.ts
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Add a search option for datagrids
  src/components/dataGrid.tsx
  src/lib/helpers/datagrid.ts
  src/lib/services/playground/schemas.ts
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Add datagrid filters
  src/components/dataGrid.tsx
  src/lib/helpers/datagrid.ts
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Path conditions:
  lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
