Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

WIP datagrid filters
  src/components/dataGrid.tsx
  src/lib/services/playground/schemas.ts
  src/pages/playground/admin/applications.tsx
Due: lint --fix

Update filters to make them case insensivite
  src/lib/helpers/datagrid.ts
Due: lint --fix

Add helper to extract nullable fields from zod schema
  src/lib/helpers/datagrid.ts
Due: lint --fix

Add nested field update helper + Add nested updates to application datagrid
  src/lib/helpers/datagrid.ts
  src/lib/helpers/sorting.ts
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Add missing fields to select
  src/server/routers/playground/admin.ts
Due: lint --fix

Update non-nullable helper + Add helper to non nullable fields nullable
  src/lib/helpers/datagrid.ts
Due: lint --fix

Cleanup code + Fix type errors
  .eslintignore
  src/components/dataGrid.tsx
  src/lib/helpers/datagrid.ts
  src/lib/services/playground/schemas.ts
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Add sorting callback to datagrid component
  src/components/dataGrid.tsx
Due: lint --fix

Add helper function to transform values for non nullable fields
  src/lib/helpers/datagrid.ts
Due: lint --fix

Fix inline cell editing
  src/pages/playground/admin/applications.tsx
Due: lint --fix

Improve datagrid sorting
  src/components/dataGrid.tsx
  src/pages/playground/admin/applications.tsx
Due: lint --fix

Remove pnpx from prisma generator
  prisma/schema.prisma
Due: none

Add page-size selector to datagrid
  src/components/dataGrid.tsx
  src/lib/services/playground/schemas.ts
  src/pages/playground/admin/applications.tsx
  src/server/routers/playground/admin.ts
Due: lint --fix

Refetch data when modified
  src/pages/playground/admin/applications.tsx
Due: lint --fix

Update nullable extractor to allow nested deeper nested schemas
  src/lib/helpers/datagrid.ts
Due: lint --fix

Add pagination to datagrid
  src/components/dataGrid.tsx
Due: lint --fix

Fix sorting
  src/components/dataGrid.tsx
Due: lint --fix

[WIP] Types
  src/lib/helpers/datagrid.ts
  src/server/routers/playground/admin.ts
Due: lint --fix

Don't remove undefined values, only null
  src/lib/helpers/datagrid.ts
Due: lint --fix

Fix types (understatement)
  src/lib/helpers/datagrid.ts
Due: lint --fix

Remove unused exports
  src/lib/helpers/datagrid.ts
Due: lint --fix

[create-pull-request] automated change
  src/components/dataGrid.tsx
  src/lib/helpers/datagrid.ts
  src/server/procedures/middlewares.ts
Due: lint --fix

Keep undefined field types
  src/lib/helpers/datagrid.ts
  src/pages/playground/admin/applications.tsx
Due: lint --fix

Allow ignoring rest arguments
  .eslintrc.js
Due: lint --fix

Pin older zod version
  package.json
  pnpm-lock.yaml
Due: prettier --write

Wait for mutation to finish before refetch
  src/pages/playground/admin/applications.tsx
Due: lint --fix

Remove redundant --noEmit
  package.json
Due: prettier --write

Ignore *.tsbuildinfo files
  .gitignore
Due: none

Fully parameterize DATABASE_URL
  .env.example
Due: none

Fix lint errors
  src/components/dataGrid.tsx
  src/lib/helpers/datagrid.ts
  src/server/procedures/middlewares.ts
Due: lint --fix

Add sign in to apply button to request card
  src/components/layout/playground/requests/requestCard.tsx
Due: lint --fix

Add callback url with selected request
  src/components/layout/playground/requests/requestCard.tsx
Due: lint --fix

update support page
  package.json
  pnpm-lock.yaml
  src/components/layout/accordion.tsx
  src/components/layout/playground/faqSection.tsx
  src/components/layout/support/joinOurTeam.tsx
  src/components/layout/support/patreonSupporters.tsx
  src/components/layout/support/thankYouSection.tsx
  src/components/layout/support/violetStudios.tsx
  src/lib/patreon/index.ts
  src/pages/support.tsx
  tailwind.config.ts
Due: lint --fix, prettier --write

add violet studios section to support page
  package.json
  pnpm-lock.yaml
  src/components/forms/contactUs.tsx
  src/components/layout/accordion.tsx
  src/components/layout/playground/faqSection.tsx
  src/components/layout/support/joinOurTeam.tsx
  src/components/layout/support/patreonSupporters.tsx
  src/components/layout/support/thankYouSection.tsx
  src/components/layout/support/violetStudios.tsx
  src/components/layout/work/designSamples.tsx
  src/lib/patreon/index.ts
  src/pages/support.tsx
  tailwind.config.ts
Due: lint --fix, prettier --write

fix mobile styles on support us page
  src/components/layout/accordion.tsx
  src/components/layout/support/crypto.tsx
  src/components/layout/support/thankYouSection.tsx
  src/components/layout/support/violetStudios.tsx
  src/pages/playground/index.tsx
Due: lint --fix

bundle violet studios logo lottie file in support us page
  public/lottiefiles/VS_logoAnim_Minimal.json
  src/components/layout/support/thankYouSection.tsx
  src/components/layout/support/violetStudios.tsx
Due: lint --fix, prettier --write

Fix incorrect role selected by default
  src/components/layout/playground/requests/requestCard.tsx
  src/pages/auth/signin.tsx
Due: lint --fix

Delete unused query callback param (for now)
  src/pages/auth/signin.tsx
Due: lint --fix

Revert "Delete unused query callback param (for now)"
  src/pages/auth/signin.tsx
Due: lint --fix

WIP
  src/components/layout/playground/layout.tsx
  src/components/layout/signup/ApplicantSignup.tsx
  src/components/layout/signup/RequestorSignup.tsx
  src/pages/api/auth/[...nextauth].ts
  src/pages/auth/signin.tsx
  src/pages/playground/signup.tsx
  src/server/routers/playground/account.ts
Due: lint --fix

Path conditions:
  lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
