Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Support page updates
  src/components/layout/support/patreonSupporters.tsx
  src/pages/support.tsx
Due: eslint --fix, prettier --write

Update [slug].tsx
  src/pages/blog/[slug].tsx
Due: eslint --fix, prettier --write

Fix dev with AWS
  .github/workflows/dev-deploy.yml
  Dockerfile.dev
Due: none

tweaked partners styles
  src/pages/people/partners.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

Keep partners images perfect squares
  src/pages/people/partners.tsx
Due: eslint --fix, prettier --write

Add blog page decorations
  src/pages/blog/[slug].tsx
Due: eslint --fix, prettier --write

Community section background color
  src/pages/people/team.tsx
Due: eslint --fix, prettier --write

Blog page layout
  src/components/layout/blog/blogPageLayout.tsx
  src/pages/blog/[slug].tsx
  src/pages/people/partners.tsx
Due: eslint --fix, prettier --write

Adjust 'About the author' margins
  src/pages/blog/[slug].tsx
Due: eslint --fix, prettier --write

Tweak partners images
  src/components/layout/blog/blogPageLayout.tsx
  src/pages/blog/[slug].tsx
  src/pages/people/partners.tsx
Due: eslint --fix, prettier --write

Create grants form
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/forms/contactUs.tsx
  src/components/forms/inputs/checkbox.tsx
  src/components/forms/inputs/label.tsx
  src/components/forms/inputs/textArea.tsx
  src/components/forms/inputs/textInput.tsx
  src/components/layout/grants/grantsApplication.tsx
Due: eslint --fix, prettier --write

Send grants email
  src/components/forms/contactUs.tsx
  src/components/layout/grants/grantsApplication.tsx
  src/pages/api/contact-us.ts
  src/pages/api/grant-request.ts
  src/pages/api/hello.ts
Due: eslint --fix, prettier --write

Correctly paginate blog entries
  src/__tests__/__snapshots__/index.tsx.snap
  src/components/layout/index/lastBlogEntries.tsx
  src/lib/mail/index.ts
  src/pages/blog/index.tsx
  src/pages/support.tsx
Due: eslint --fix, prettier --write

Make everything mobile friendly
  src/components/layout/blog/blogsHeader.tsx
  src/pages/blog/index.tsx
  src/pages/people/partners.tsx
  src/pages/projects.tsx
  src/pages/support.tsx
Due: eslint --fix, prettier --write

Use tailwind JIT mode
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/components/decoration/__snapshots__/hero.tsx.snap
  src/__tests__/components/layout/__snapshots__/candidateRequirement.tsx.snap
  src/__tests__/components/layout/__snapshots__/jobRole.tsx.snap
  src/__tests__/pages/__snapshots__/join.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/decoration/buttons/index.tsx
  src/components/decoration/circle.tsx
  src/components/decoration/link-card.tsx
  src/components/decoration/squares.tsx
  src/components/infoBox.tsx
  src/components/layout/grants/grantsCallToAction.tsx
  src/components/layout/index/lastBlogEntries.tsx
  src/components/layout/join/candidateRequirement.tsx
  src/components/layout/joinTheTeam.tsx
  src/hooks/useThemeColor.ts
  src/pages/index.tsx
  src/pages/support.tsx
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Add Typeform links to Join page
  src/__tests__/components/layout/__snapshots__/jobRole.tsx.snap
  src/__tests__/components/layout/jobRole.tsx
  src/__tests__/pages/__snapshots__/join.tsx.snap
  src/components/layout/join/jobRole.tsx
  src/hooks/useThemeColor.ts
  src/pages/join.tsx
Due: eslint --fix, prettier --write

Move support page pig gif up
  src/pages/support.tsx
Due: eslint --fix, prettier --write

Cleanup tailwind config
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/components/layout/__snapshots__/jobRole.tsx.snap
  src/__tests__/components/layout/__snapshots__/meetOurTeam.tsx.snap
  src/__tests__/pages/__snapshots__/join.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/decoration/buttons/index.tsx
  src/components/decoration/hero.tsx
  src/components/layout/blog/blogEntrySummary.tsx
  src/components/layout/wrapper.tsx
  src/pages/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

Link contact buttons to correct places
  src/__tests__/components/layout/__snapshots__/meetOurTeam.tsx.snap
  src/__tests__/pages/__snapshots__/join.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/forms/contactUs.tsx
  src/components/layout/footer/links.tsx
  src/components/layout/grants/grantsQualifications.tsx
  src/components/layout/meetOurTeam.tsx
  src/components/layout/support/joinOurTeam.tsx
  src/pages/join.tsx
  src/pages/services.tsx
Due: eslint --fix, prettier --write

Fix blog entry mobile layout
  src/components/layout/blog/blogPageLayout.tsx
  src/pages/blog/[slug].tsx
Due: eslint --fix, prettier --write

Mono font for titles
  src/components/layout/grants/grantsApplication.tsx
Due: eslint --fix, prettier --write

Update grantsApplication.tsx
  src/components/layout/grants/grantsApplication.tsx
Due: eslint --fix, prettier --write

Use hello@vh email address
  src/lib/mail/index.ts
Due: eslint --fix, prettier --write

Correctly format boolean values in mail
  src/lib/mail/index.ts
  src/pages/api/contact-us.ts
  src/pages/api/grant-request.ts
Due: eslint --fix, prettier --write

Avoid JS error in firefox
  src/pages/api/contact-us.ts
  src/pages/api/grant-request.ts
Due: eslint --fix, prettier --write

Add missing build args
  Dockerfile
Due: none

Tweak Author card Send grants email
  src/pages/blog/[slug].tsx
Due: eslint --fix, prettier --write

Pull image before stopping container
  .github/workflows/deploy.yml
Due: none

Try fixing 404 in production
  Dockerfile
Due: none

Changing DNS to vh.org
  .github/workflows/deploy.yml
Due: none

Add env vars to dev deploy file
  .github/workflows/dev-deploy.yml
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/index.tsx
  src/pages/people/partners.tsx
  src/pages/projects.tsx
  src/pages/support.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Style updates for partners
  src/pages/people/partners.tsx
Due: eslint --fix, prettier --write

Style blog lists and links
  src/pages/blog/[slug].tsx
Due: eslint --fix, prettier --write

Adjust page header padding with description
  src/__tests__/pages/__snapshots__/join.tsx.snap
  src/__tests__/pages/__snapshots__/services.tsx.snap
  src/components/decoration/textBlocks.tsx
Due: eslint --fix, prettier --write

Fix selected page not being underlined
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write

Use AWS registry
  .github/workflows/deploy.yml
  .github/workflows/dev-deploy.yml
Due: none

Manually adjust each gif position
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/pages/__snapshots__/join.tsx.snap
  src/components/decoration/sprite.tsx
  src/pages/about/our-mission.tsx
  src/pages/about/our-story.tsx
  src/pages/about/our-values.tsx
  src/pages/index.tsx
  src/pages/join.tsx
  src/pages/people/advisors.tsx
  src/pages/people/partners.tsx
  src/pages/people/team.tsx
  src/pages/services.tsx
  src/pages/support.tsx
Due: eslint --fix, prettier --write

Revert "Use AWS registry"
  .github/workflows/deploy.yml
  .github/workflows/dev-deploy.yml
Due: none

Upgrade deps
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,json}
