Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Upgrade prisma
  package.json
  yarn.lock
Due: prettier --write

Cleanup schema
  prisma/migrations/20220710162058_next_auth/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/pages/playground/index.tsx
Due: eslint --fix, prettier --write

Remove extra yarn install
  Dockerfile
Due: none

Fix 404 page eternally looping
  .dockerignore
  .husky/post-merge
  src/components/forms/contactUs.tsx
  src/components/layout/errorPage.tsx
  src/components/layout/wrapper.tsx
  src/lib/stores/errorStore.ts
  src/pages/404.tsx
Due: eslint --fix, prettier --write

[Hotfix] Fix year in review page breaking
  src/pages/year-in-review/2021.tsx
Due: eslint --fix, prettier --write

Enable exhaustive deps hook and fix warnings
  .eslintrc
  src/components/cookiesCTA.tsx
  src/components/decoration/sprite/FloatingHeart.tsx
  src/components/forms/contactUs.tsx
  src/components/forms/inputs/selectInput.tsx
  src/components/layout/docs/searchResults.tsx
  src/components/layout/docs/sidebar.tsx
  src/components/layout/errorPage.tsx
  src/components/layout/grants/grantsApplication.tsx
  src/components/layout/header.tsx
  src/components/layout/newsletter.tsx
  src/components/layout/newsletterPopup.tsx
  src/components/layout/projects/retired/index.tsx
  src/components/layout/wrapper.tsx
  src/hooks/useFuse.ts
  src/hooks/useHash.ts
  src/pages/blog/index.tsx
  src/pages/docs/[category]/[section].tsx
  src/pages/docs/[category]/index.tsx
  src/pages/docs/index.tsx
  src/pages/projects/index.tsx
Due: eslint --fix, prettier --write

Upgrade next-auth
  package.json
  yarn.lock
Due: prettier --write

Add NEXTAUTH_SECRET to .env.example
  .env.example
Due: none

Upgrade to yarn 3
  .gitattributes
  .gitignore
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  yarn.lock
Due: none

Switch to pnpm
  .gitignore
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

Fix Dockerfile build
  .dockerignore
  .husky/post-merge
  .husky/pre-commit
  docker-compose.yaml
  docker/Dockerfile
  docker/docker-build.sh
  next.config.js
  package.json
  pnpm-lock.yaml
  scripts/postinstall.sh
  src/components/decoration/sprite/FloatingHeart.tsx
  src/hooks/useWindowBreakpoint.ts
  src/lib/helpers/theme.ts
Due: eslint --fix, prettier --write

Somehow fix image optimisation
  docker/Dockerfile
  docker/docker-build.sh
  next.config.js
Due: eslint --fix, prettier --write

Add package versions to docker cache
  docker/Dockerfile
Due: none

Add CI env var to build phase
  docker/Dockerfile
Due: none

Update README with pnpm instructions
  README.md
  package.json
Due: prettier --write

Filter by page params
  package.json
  src/components/layout/blog/blogsHeader.tsx
  src/pages/blog/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

pagination and search by parameter
  src/pages/blog/index.tsx
Due: eslint --fix, prettier --write

Filter by page params
  package.json
  src/components/layout/blog/blogsHeader.tsx
  src/pages/blog/index.tsx
Due: eslint --fix, prettier --write

Add health endpoint
  src/pages/api/healthz.ts
Due: eslint --fix, prettier --write

Add type hinting to next config
  docker/Dockerfile
  next.config.js
Due: eslint --fix, prettier --write

Fix google tag manager not getting initialised
  .dockerignore
  docker/Dockerfile
  docker/docker-build.sh
  src/hooks/useOnce.ts
  src/pages/_app.tsx
  src/pages/api/contact-us.ts
Due: eslint --fix, prettier --write

Skip store integrity verification
  docker/Dockerfile
Due: none

Fix some weird behaviour with the docs sidebar
  src/components/layout/docs/sidebar.tsx
Due: eslint --fix, prettier --write

Fix docker compose database
  docker-compose.yaml
Due: none

Add log and DB connection check to health API
  src/pages/api/healthz.ts
Due: eslint --fix, prettier --write

Remove OK log from, health check
  src/pages/api/healthz.ts
Due: eslint --fix, prettier --write

Simplify dockerfile
  .dockerignore
  docker-compose.override.yaml
  docker/Dockerfile
Due: none

Simplify ESLint rules
  .eslintrc
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/components/decoration/animatedNumber.tsx
  src/components/decoration/buttons/index.tsx
  src/components/layout/docs/searchBar.tsx
  src/components/layout/support/crypto.tsx
  src/lib/helpers/api.ts
  src/pages/contact.tsx
  src/pages/projects/retired/index.tsx
  src/pages/services.tsx
Due: eslint --fix, prettier --write

Filter by page params
  pnpm-lock.yaml
Due: none

Add enabled option to useOnce hook
  src/hooks/useOnce.ts
Due: eslint --fix, prettier --write

Changes based on pr suggestions
  src/pages/blog/index.tsx
Due: eslint --fix, prettier --write

Use router.replace to avoid filling the history stack
  src/pages/blog/index.tsx
Due: eslint --fix, prettier --write

Get funding from Patreon API instead of CMS
  src/lib/patreon/index.ts
  src/pages/support.tsx
Due: eslint --fix, prettier --write

Add typecheck lint rules
  .eslintignore
  .eslintrc.js
  tsconfig.json
Due: eslint --fix, prettier --write

[WIP] Fix a bunch of lint errors
  package.json
  pnpm-lock.yaml
  src/components/cookiesCTA.tsx
  src/components/decoration/buttons/utils.tsx
  src/components/layout/blog/blogEntrySummary.tsx
  src/lib/helpers/theme.ts
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/api/contact-us.ts
  src/pages/api/grant-request.ts
  src/pages/api/healthz.ts
  src/pages/api/preview/blog.ts
  src/pages/api/preview/docs.ts
  src/pages/api/subscribe-to-newsletter.ts
  src/pages/auth/signin.tsx
  src/pages/auth/signout.tsx
  src/pages/blog/index.tsx
  src/pages/contact.tsx
  src/pages/docs/[category]/index.tsx
  src/pages/docs/index.tsx
  src/pages/people/team.tsx
Due: eslint --fix, prettier --write

Fix all type warnings
  src/components/decoration/hero.tsx
  src/components/decoration/richText.tsx
  src/components/decoration/sprite/FloatingHeart.tsx
  src/components/forms/inputs/selectInput.tsx
  src/components/layout/contentfulImage.tsx
  src/components/layout/support/crypto.tsx
  src/components/layout/support/progressBar/animatedBar.tsx
  src/components/layout/support/progressBar/mobile/animatedBar.tsx
  src/components/layout/support/progressBar/mobile/patreonGoal.tsx
  src/components/layout/support/progressBar/patreonGoal.tsx
  src/components/layout/team/socialLinks.tsx
  src/lib/cms/index.ts
  src/pages/grants/index.tsx
Due: eslint --fix, prettier --write

Fix some last warnings
  .eslintignore
  src/lib/patreon/index.ts
Due: eslint --fix, prettier --write

Remove console.log in production
  next.config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,json}
