Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["lint --fix"],
  "*.{md,html,css,json,yml,yaml}": "prettier --write"
}

Add type to organization table
  prisma/migrations/20231205134052_add_organization_type/migration.sql
  prisma/schema.prisma
Due: none

Update requestor signup form
  src/components/layout/signup/RequestorSignup.tsx
  src/lib/services/playground/schemas.ts
  src/server/routers/playground/account.ts
Due: lint --fix

Revert "Add signup trpc route"
  src/server/routers/playground/account.ts
  src/server/routers/playground/index.ts
Due: lint --fix

Move back to prisma extensions
  prisma/migrations/20231204172556_db_generated_values/migration.sql
  src/lib/db/prisma.ts
  src/pages/api/auth/[...nextauth].ts
  src/types/global.d.ts
Due: lint --fix

Go back to basic client
  src/lib/db/prisma.ts
  src/pages/api/auth/[...nextauth].ts
Due: lint --fix

Add signup trpc route
  src/server/routers/playground/account.ts
  src/server/routers/playground/index.ts
Due: lint --fix

WIP login page
  src/pages/auth/signin.tsx
Due: lint --fix

Fix formatting
  src/components/layout/signup/ApplicantSignup.tsx
  src/pages/playground/signup.tsx
  src/server/routers/playground/account.ts
Due: lint --fix

Add applicant signup page/form
  src/components/layout/signup/ApplicantSignup.tsx
  src/pages/playground/signup.tsx
Due: lint --fix

Upgrade typescript and related plugins
  package.json
  pnpm-lock.yaml
Due: prettier --write

Revert "Remove calculated columns from prisma client"
  src/lib/db/prisma.ts
Due: lint --fix

Add back signup route + Update requestor signup form
  prisma/migrations/20231204134226_add_organization_reference_to_user/migration.sql
  prisma/migrations/20231204135316_add_requestor_contact_email/migration.sql
  prisma/migrations/20231204145046_change_organization_constraint/migration.sql
  prisma/schema.prisma
  src/components/layout/signup/RequestorSignup.tsx
  src/lib/services/playground/schemas.ts
  src/server/routers/playground/account.ts
  src/server/routers/playground/index.ts
Due: lint --fix

Update formatting
  src/components/layout/signup/RequestorSignup.tsx
  src/server/routers/playground/account.ts
  src/server/routers/playground/index.ts
Due: lint --fix

Unify migrations, part 1
  prisma/migrations/20231204112058_add_additional_profile_information_tables/migration.sql
  prisma/migrations/20231206091721_add_applicant_origin/migration.sql
  prisma/migrations/20231206092222_remove_name_from_applicant_info/migration.sql
Due: none

Add new calculated role values
  prisma/migrations/20231204171158_more_user_roles/migration.sql
  prisma/schema.prisma
  src/lib/db/prisma.ts
Due: lint --fix

Set isApplicant and isRequestor in JWT
  src/pages/api/auth/[...nextauth].ts
  src/types/next-auth.d.ts
Due: lint --fix

Remove pre-commit hook
  .husky/pre-commit
Due: none

Extract provider props to make it easier to add new ones
  src/pages/auth/signin.tsx
Due: lint --fix

Tweak signin page, redirect to correct profile setup
  src/pages/auth/signin.tsx
Due: lint --fix

Delete prettier
  .dockerignore
  .prettierignore
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add a way to disable react axe
  .env.example
  src/pages/_app.tsx
Due: lint --fix

Add isAdmin computed field
  src/lib/db/prisma.ts
Due: lint --fix

Remove lint-staged
  .lintstagedrc.js
  package.json
  pnpm-lock.yaml
Due: lint --fix, prettier --write

Add applicant signup schema
  src/lib/services/playground/schemas.ts
Due: lint --fix

Update applicant signup page
  prisma/migrations/20231206091721_add_applicant_origin/migration.sql
  prisma/migrations/20231206092222_remove_name_from_applicant_info/migration.sql
  prisma/schema.prisma
  src/components/layout/signup/ApplicantSignup.tsx
  src/components/layout/signup/RequestorSignup.tsx
  src/server/routers/playground/account.ts
Due: lint --fix

Organization -> Requestor
  prisma/migrations/20231204172556_db_generated_values/migration.sql
  prisma/seed.ts
Due: lint --fix

Delete git hooks and related deps
  .husky/post-merge
  package.json
  pnpm-lock.yaml
  scripts/postinstall.sh
Due: prettier --write

Fix more types???
  src/components/layout/playground/submitRequestForm.tsx
  src/lib/client/trpc.ts
  src/server/routers/playground/requests.ts
Due: lint --fix

Adapt signup page to new changes
  src/pages/playground/signup.tsx
  src/types/next-auth.d.ts
Due: lint --fix

Fix type errors
  src/components/layout/playground/submitRequestForm.tsx
  src/lib/services/playground/schemas.ts
  src/lib/stores/playground/submitRequestStore.ts
  src/pages/api/auth/[...nextauth].ts
Due: lint --fix

Fix axe disabling
  .env.example
  src/pages/_app.tsx
Due: lint --fix

Fix role not being filled on user creation
  src/pages/api/auth/[...nextauth].ts
  src/pages/auth/signin.tsx
Due: lint --fix

Unify migrations, part 2
  prisma/migrations/20231201124010_add_requestor_user_role/migration.sql
  prisma/migrations/20231204112058_add_additional_profile_information_tables/migration.sql
  prisma/migrations/20231204133743_add_organization_table/migration.sql
  prisma/migrations/20231204134226_add_organization_reference_to_user/migration.sql
  prisma/migrations/20231204135316_add_requestor_contact_email/migration.sql
  prisma/migrations/20231204145046_change_organization_constraint/migration.sql
  prisma/migrations/20231204172556_extended_user_roles/migration.sql
Due: none

Add budget is present for profit request check back
  src/components/layout/signup/RequestorSignup.tsx
  src/lib/services/playground/index.ts
  src/lib/services/playground/schemas.ts
  src/server/procedures/auth.ts
  src/server/procedures/middlewares.ts
  src/server/routers/playground/account.ts
  src/server/routers/playground/requests.ts
  src/server/trpc.ts
Due: lint --fix

Fix inline cell editing
  src/pages/playground/admin/applications.tsx
Due: lint --fix

Allow custom email and db port
  .env.example
  docker-compose.yaml
Due: prettier --write

Fix invalid nextauth context creation
  src/pages/api/auth/[...nextauth].ts
  src/server/context.ts
Due: lint --fix

Simplify ctxInput logic and performance
  src/server/procedures/middlewares.ts
Due: lint --fix

Remove unneeded casts
  src/server/procedures/middlewares.ts
Due: lint --fix

Show 'My Account' instead of 'Get Help' if logged in
  src/components/layout/header.tsx
Due: lint --fix
