Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{js,jsx,ts,tsx,md,html,css,json}": "prettier --write"
}

Update README
  README.md
Due: prettier --write

Update packages when pulling/merging stuff
  .husky/post-merge
Due: none

Only install husky if not in CI
  package.json
  yarn.lock
Due: prettier --write

Set CI flag in github workflow
  .github/workflows/deploy.yml
  package.json
  yarn.lock
Due: prettier --write

Disable postinstall hook
  README.md
  package.json
Due: prettier --write

Changing to deploy with docker-compose and using traefik as well
  .github/workflows/deploy.yml
  Dockerfile
  docker-compose.override.yaml
  docker-compose.yaml
Due: none

Fixing workflow
  .github/workflows/deploy.yml
Due: none

Changing image to work with the latest
  docker-compose.yaml
Due: none

port dockerfile
  Dockerfile
Due: none

trying private repository
  .github/workflows/deploy.yml
Due: none

trying private repository 2
  .github/workflows/deploy.yml
Due: none

Github action Last try today
  .github/workflows/deploy.yml
  docker-compose.yaml
Due: none

Second action Last try today
  .github/workflows/deploy.yml
Due: none

THIRD action Last try today
  .github/workflows/deploy.yml
Due: none

getting back do docker run
  .github/workflows/deploy.yml
Due: none

syntax
  .github/workflows/deploy.yml
Due: none

syntax2
  .github/workflows/deploy.yml
Due: none

syntax3
  .github/workflows/deploy.yml
Due: none

syntax4
  .github/workflows/deploy.yml
Due: none

docker problems
  .github/workflows/deploy.yml
Due: none

docker typo
  .github/workflows/deploy.yml
Due: none

running on port 3000
  .github/workflows/deploy.yml
  Dockerfile
Due: none

Set tailwind color scheme
  .eslintignore
  src/components/layout/header.tsx
  src/pages/_document.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

exposing on port 3000
  Dockerfile
Due: none

exposing on port 80...
  .github/workflows/deploy.yml
  Dockerfile
Due: none

Replace VH logo
  public/images/logo.png
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write

Add first test
  .babelrc
  package.json
  src/__tests__/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fixing https
  .github/workflows/deploy.yml
Due: none

typo
  .github/workflows/deploy.yml
Due: none

permanently move to https
  .github/workflows/deploy.yml
Due: none

Remove contact from header, shorten support/join links
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write

Add footer, still WIP
  .gitignore
  package.json
  public/favicon.ico
  public/favicon.png
  public/images/VH-logo-web-white.png
  public/images/VH_Logo_Crest_Tagline.png
  src/components/layout/footer/index.tsx
  src/components/layout/footer/links.tsx
  src/components/layout/footer/social.tsx
  src/components/layout/header.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Add footer
  package.json
  src/components/layout/footer/index.tsx
  src/components/layout/footer/links.tsx
  src/components/layout/footer/social.tsx
  src/components/layout/header.tsx
  src/components/layout/wrapper.tsx
  src/pages/_app.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Center page content
  src/components/layout/wrapper.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Add some circles
  src/components/decoration/circle.tsx
  src/components/layout/footer/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write
