Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["lint --fix"],
  "*.{md,html,css,json,yml,yaml}": "prettier --write"
}

Set NEXT_SHARP_PATH
  docker/Dockerfile
Due: none

Update next and sharp
  package.json
  pnpm-lock.yaml
Due: prettier --write

Enable automatic translations for contentful entries
  package.json
  pnpm-lock.yaml
  prisma/migrations/20240223172902_add_contentful_translation_cache/migration.sql
  prisma/schema.prisma
  src/components/TranslatableContentfulEntryField.tsx
  src/components/layout/blog/blogEntrySummary.tsx
  src/components/layout/blog/blogPageLayout.tsx
  src/components/layout/localeSelector.tsx
  src/components/layout/work/featuredProjects.tsx
  src/components/layout/work/likeWhatYouSee.tsx
  src/lib/client/trpc.ts
  src/lib/cron/hour/invalidateContentfulTranslationCache.ts
  src/lib/services/translation/index.tsx
  src/lib/services/translation/schemas.ts
  src/lib/translation/messages.ts
  src/lib/translation/useRouterLocale.ts
  src/pages/blog/[slug].tsx
  src/pages/handbook/[category]/[section].tsx
  src/pages/people/partners.tsx
  src/pages/people/team.tsx
  src/server/routers/_app.ts
  src/server/routers/translation/index.ts
  translation/_util.ts
  translation/data/de.json
  translation/data/en.json
  translation/deepl.ts
  translation/defaultLocale.ts
Due: lint --fix, prettier --write

Move robots.txt to api route
  public/robots.txt
  src/app/robots.txt/route.ts
Due: lint --fix

Use one translation button per page
  package.json
  pnpm-lock.yaml
  src/components/TranslatableContentfulEntryField.tsx
  src/components/layout/blog/blogEntrySummary.tsx
  src/components/layout/blog/blogPageLayout.tsx
  src/components/layout/blog/blogsHeader.tsx
  src/components/layout/people.tsx
  src/components/layout/work/featuredProjects.tsx
  src/components/layout/work/ourWork.tsx
  src/components/localization/LocalizedContentfulEntryField.tsx
  src/components/localization/LocalizedContentfulPage.tsx
  src/components/localization/LocalizedContentfulPageToggleButton.tsx
  src/components/localization/README.md
  src/components/localization/useContentfulLocalizationContext.tsx
  src/lib/cron/hour/index.ts
  src/lib/services/translation/index.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/people/partners.tsx
  src/pages/people/team.tsx
  src/pages/work.tsx
  translation/data/de.json
  translation/data/en.json
Due: lint --fix, prettier --write

Reject nextauth head-requests
  src/pages/api/auth/[...nextauth].ts
Due: lint --fix

Update workflow node version
  .github/workflows/lint.yml
Due: prettier --write

Update lint command line args
  package.json
Due: prettier --write

Create intermediate page for login verification
  src/pages/auth/verify-login.tsx
Due: lint --fix

Change URL path to the new page
  src/pages/api/auth/[...nextauth].ts
Due: lint --fix

Add proveg incubator section to work page
  public/images/work/PV_Incubator_Logo_NEW_1.png
  src/components/layout/work/playground.tsx
  src/components/layout/work/provegIncubator.tsx
  src/pages/work.tsx
Due: lint --fix

Update width of proveg incubator section on /work
  src/components/layout/work/provegIncubator.tsx
Due: lint --fix

Add line breaks between proveg incubator section paragraphs on /work
  src/components/layout/work/provegIncubator.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Update proveg incubator section
  src/components/layout/work/provegIncubator.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Test
  test.txt
Due: none

Test changing content
  translation/data/en.json
Due: prettier --write

Generate prisma client
  nixpacks.toml
Due: none

Deploy seed script (for testing purposes)
  .dockerignore
Due: none

Run migrations
  nixpacks.toml
Due: none

Ignore seed.ts file again
  .dockerignore
Due: none

Add privacy policy
  src/components/layout/footer/links.tsx
  src/pages/privacy-policy.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Add debug-env api endpoint
  src/pages/api/env-debug.ts
Due: lint --fix

Change console.log to console.info
  src/pages/api/env-debug.ts
Due: lint --fix

Remove env-debug api endpoint
  src/pages/api/env-debug.ts
Due: lint --fix

Attempt to fix "pnpm not found"
  nixpacks.toml
  package.json
Due: prettier --write

Test without migrate
  nixpacks.toml
Due: none

Remove start phase
  nixpacks.toml
Due: none

Use npm
  nixpacks.toml
Due: none

Use dummy start command
  nixpacks.toml
Due: none

Rollback
  nixpacks.toml
Due: none

Rollback
  package.json
Due: prettier --write

Fix missing glyphs in fonts
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
  src/styles/fonts.css
Due: lint --fix, prettier --write

Test next font hosting instead
  package.json
  pnpm-lock.yaml
  src/components/layout/wrapper.tsx
  src/pages/_app.tsx
  tailwind.config.ts
Due: lint --fix, prettier --write

Delete font files
  public/fonts/bitter-v28-latin-500.woff
  public/fonts/bitter-v28-latin-500.woff2
  public/fonts/bitter-v28-latin-500italic.woff
  public/fonts/bitter-v28-latin-500italic.woff2
  public/fonts/bitter-v28-latin-italic.woff
  public/fonts/bitter-v28-latin-italic.woff2
  public/fonts/pt-sans-v17-latin-700.woff
  public/fonts/pt-sans-v17-latin-700.woff2
  public/fonts/pt-sans-v17-latin-regular.woff
  public/fonts/pt-sans-v17-latin-regular.woff2
  public/fonts/rajdhani-v15-latin-300.woff
  public/fonts/rajdhani-v15-latin-300.woff2
  public/fonts/rajdhani-v15-latin-500.woff
  public/fonts/rajdhani-v15-latin-500.woff2
  public/fonts/rajdhani-v15-latin-600.woff
  public/fonts/rajdhani-v15-latin-600.woff2
  public/fonts/rajdhani-v15-latin-700.woff
  public/fonts/rajdhani-v15-latin-700.woff2
Due: none

add locale route param
  src/pages/[locale]/about/our-mission.tsx
  src/pages/[locale]/about/our-story.tsx
  src/pages/[locale]/about/our-values.tsx
  src/pages/[locale]/auth/signin.tsx
  src/pages/[locale]/auth/signout.tsx
  src/pages/[locale]/auth/verify-request.tsx
  src/pages/[locale]/contact.tsx
  src/pages/[locale]/grants/index.tsx
  src/pages/[locale]/join.tsx
  src/pages/[locale]/newsletter.tsx
  src/pages/[locale]/people/advisors.tsx
  src/pages/[locale]/people/partners.tsx
  src/pages/[locale]/people/team.tsx
  src/pages/[locale]/people/volunteers.tsx
  src/pages/[locale]/playground/index.tsx
  src/pages/[locale]/playground/request/[id].tsx
  src/pages/[locale]/playground/request/edit/[id].tsx
  src/pages/[locale]/playground/submit.tsx
  src/pages/[locale]/playground/terms-and-conditions.tsx
  src/pages/[locale]/services.tsx
  src/pages/[locale]/support.tsx
  src/pages/[locale]/year-in-review/2020.tsx
  src/pages/[locale]/year-in-review/2021.tsx
  src/pages/[locale]/year-in-review/2022.tsx
  src/pages/_app.tsx
  src/pages/playground/admin/applications.tsx
  src/pages/playground/admin/index.tsx
Due: lint --fix

wip
  docker-compose.yaml
  src/app/[locale]/layout.tsx
  src/components/layout/about.tsx
  src/components/layout/blog/blogEntrySummary_pages.tsx
  src/components/layout/grants/grantsCallToAction_pages.tsx
  src/components/layout/grants/index.ts
  src/components/layout/header/index.tsx
  src/components/layout/header/index_pages.tsx
  src/components/layout/joinTheTeam_pages.tsx
  src/components/layout/people.tsx
  src/components/layout/playground/applicationCard.tsx
  src/components/layout/playground/applyForm.tsx
  src/components/layout/playground/layout.tsx
  src/components/layout/playground/playgroundStats.tsx
  src/components/layout/playground/requests/filters.tsx
  src/components/layout/playground/requests/requestCard.tsx
  src/components/layout/playground/submitRequestForm.tsx
  src/components/layout/support/violetStudios.tsx
  src/components/layout/yearInReview/2022/featuredInterviews.tsx
  src/hooks/useExtendedPagination.ts
  src/hooks/useHash.ts
  src/lib/discord/index.ts
  src/middleware.ts
Due: lint --fix, prettier --write
