Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

trying to fix problems with cache
  .github/workflows/deploy.yml
Due: none

Footer tweaks
  src/components/decoration/circle.tsx
  src/components/layout/footer/index.tsx
  src/components/layout/footer/social.tsx
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write

Replace ipsum text with contact text
  src/components/layout/footer/social.tsx
Due: eslint --fix, prettier --write

Fix some spacing in mobile layouts
  src/components/layout/footer/index.tsx
  src/components/layout/footer/social.tsx
Due: eslint --fix, prettier --write

Fix CSS classes being purged
  src/components/layout/footer/links.tsx
Due: eslint --fix, prettier --write

Add beyond hamburger menu for small screens
  src/components/layout/footer/links.tsx
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write

Remove unused state
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write

Enforce using Type[] instead of Array<Type>
  .eslintrc
Due: none

Change more ESLint rules
  .eslintrc
Due: none

Enforce single quotes
  .editorconfig
  .eslintrc
  src/components/decoration/circle.tsx
  src/components/layout/footer/index.tsx
  src/components/layout/footer/links.tsx
  src/components/layout/footer/social.tsx
  src/components/layout/header.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/hello.ts
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Add accesibility warnings using axe
  package.json
  src/components/layout/footer/social.tsx
  src/pages/_app.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Add lang to HTML tag
  src/pages/_document.tsx
Due: eslint --fix, prettier --write

Fixing Responsive Nav Button Style
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write

submit button definition
  src/components/decoration/buttons.tsx
  src/components/decoration/submitButton.tsx
Due: eslint --fix, prettier --write

buttons file to export all buttons; use base button on submit button type
  src/components/decoration/buttons/baseButton.tsx
  src/components/decoration/buttons/buttons.tsx
  src/components/decoration/buttons/submitButton.tsx
Due: eslint --fix, prettier --write

primary button and base button adaptation
  src/components/decoration/buttons/baseButton.tsx
  src/components/decoration/buttons/buttons.tsx
  src/components/decoration/buttons/primaryButton.tsx
  src/components/decoration/buttons/submitButton.tsx
Due: eslint --fix, prettier --write

primary button style
  src/components/decoration/buttons/baseButton.tsx
  src/components/decoration/buttons/buttons.tsx
  src/components/decoration/buttons/primaryButton.tsx
  src/components/decoration/buttons/submitButton.tsx
Due: eslint --fix, prettier --write

secondary button
  src/components/decoration/buttons/secondaryButton.tsx
Due: eslint --fix, prettier --write

external link button
  src/components/decoration/buttons/externalLinkButton.tsx
Due: eslint --fix, prettier --write

use external link button on homepage
  src/components/decoration/buttons/buttons.tsx
  src/components/layout/footer/social.tsx
Due: eslint --fix, prettier --write

refactor base button; icon button: patreon button
  src/components/decoration/buttons/baseButton.tsx
  src/components/decoration/buttons/buttons.tsx
  src/components/decoration/buttons/externalLinkButton.tsx
  src/components/decoration/buttons/iconButtons/IconButton.tsx
  src/components/decoration/buttons/iconButtons/patreonButton.tsx
  src/components/decoration/buttons/primaryButton.tsx
  src/components/decoration/buttons/secondaryButton.tsx
  src/components/decoration/buttons/submitButton.tsx
  src/components/layout/footer/social.tsx
Due: eslint --fix, prettier --write

instagram button
  src/components/decoration/buttons/iconButtons/instagramButton.tsx
  src/components/layout/footer/social.tsx
Due: eslint --fix, prettier --write

Review Feedback
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write

fix button imports
  src/components/decoration/buttons/buttons.tsx
  src/components/layout/footer/social.tsx
Due: eslint --fix, prettier --write

reafctor base button
  src/components/decoration/buttons/baseButton.tsx
Due: eslint --fix, prettier --write

refactor IButton to ButtonProps
  src/components/decoration/buttons/baseButton.tsx
  src/components/decoration/buttons/buttons.tsx
  src/components/decoration/buttons/externalLinkButton.tsx
  src/components/decoration/buttons/iconButtons/IconButton.tsx
  src/components/decoration/buttons/iconButtons/instagramButton.tsx
  src/components/decoration/buttons/iconButtons/patreonButton.tsx
  src/components/decoration/buttons/primaryButton.tsx
  src/components/decoration/buttons/secondaryButton.tsx
  src/components/decoration/buttons/submitButton.tsx
Due: eslint --fix, prettier --write

rename primary and secondary to light and dark
  src/components/decoration/buttons/darkButton.tsx
Due: eslint --fix, prettier --write

rename primary and secondary buttons to light and dark
  src/components/decoration/buttons/lightButton.tsx
  src/components/decoration/buttons/secondaryButton.tsx
Due: eslint --fix, prettier --write

simplify button function params
  src/components/decoration/buttons/baseButton.tsx
  src/components/decoration/buttons/darkButton.tsx
  src/components/decoration/buttons/externalLinkButton.tsx
  src/components/decoration/buttons/lightButton.tsx
Due: eslint --fix, prettier --write

merge all buttons in one file
  src/components/decoration/buttons/baseButton.tsx
  src/components/decoration/buttons/buttons.tsx
  src/components/decoration/buttons/darkButton.tsx
  src/components/decoration/buttons/externalLinkButton.tsx
  src/components/decoration/buttons/iconButtons/IconButton.tsx
  src/components/decoration/buttons/iconButtons/instagramButton.tsx
  src/components/decoration/buttons/iconButtons/patreonButton.tsx
  src/components/decoration/buttons/lightButton.tsx
  src/components/decoration/buttons/submitButton.tsx
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Add link to Trello board
  README.md
Due: prettier --write

Ignore .idea folder
  .gitignore
Due: none

Use classnames and fix typo in Hero component tests
  src/__tests__/components/decoration/__snapshots__/hero.tsx.snap
  src/__tests__/components/decoration/hero.tsx
  src/components/decoration/hero.tsx
Due: eslint --fix, prettier --write

Use HeroProps name instead of IHero for component's props
  src/components/decoration/hero.tsx
Due: eslint --fix, prettier --write

Add Hero component
  src/__tests__/components/decoration/__snapshots__/hero.tsx.snap
  src/__tests__/components/decoration/hero.tsx
  src/components/decoration/hero.tsx
Due: eslint --fix, prettier --write

Add hero in home page
  public/images/VH-hero-bg.png
  public/images/VH-hero-tagline.png
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Add snapshot test for the Home page component
  package.json
  src/__mocks__/imageMock.js
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/index.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Install hooks on post-install and test on pre-commit hook
  .husky/pre-commit
  package.json
Due: prettier --write

Install Git hooks on prepare script rather than postinstall
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,json}
