Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

Center instagram icon vertically
  src/components/layout/header.tsx
Due: lint --fix

Update next-auth
  package.json
  pnpm-lock.yaml
  src/server/context.ts
Due: lint --fix, prettier --write

Update middleware to set the NEXT_LOCALE cookie
  src/components/layout/localeSelector.tsx
  src/lib/translation/TranslationProvider.tsx
  src/lib/translation/useRouterLocale.ts
  src/middleware.ts
  src/pages/_document.tsx
Due: lint --fix

Update newsletter.tsx
  src/components/layout/newsletter.tsx
Due: lint --fix

Set up /pages/blog/ content for translations
  src/components/layout/blog/blogEntrySummary.tsx
  src/components/layout/blog/blogPageLayout.tsx
  src/components/layout/blog/blogsHeader.tsx
  src/components/layout/newsletter.tsx
  src/pages/blog/index.tsx
Due: lint --fix

Set up /pages/year-in-review/2020 for translations
  src/components/layout/yearInReview/layout.tsx
  src/components/layout/yearInReview/organizations.tsx
  src/components/layout/yearInReview/topPosts.tsx
  src/pages/year-in-review/2020.tsx
Due: lint --fix

fix bullet points on /newsletter
  src/components/layout/newsletter.tsx
Due: lint --fix

update german translations
  translation/data/de.json
  translation/data/en.json
Due: prettier --write

Update translation file format to support translation descriptions with weblate
  src/components/layout/blog/blogsHeader.tsx
  src/components/layout/yearInReview/layout.tsx
  src/pages/_app.tsx
  src/pages/about/our-story.tsx
  src/pages/year-in-review/2020.tsx
  translation/_util.ts
  translation/compile.ts
  translation/data/de.json
  translation/data/en.json
  translation/extract.ts
  translation/translate.ts
  translation/update.ts
Due: lint --fix, prettier --write

Add chinese translations
  next.config.js
  src/lib/translation/messages.ts
  src/pages/about/our-story.tsx
  src/pages/index.tsx
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
Due: lint --fix, prettier --write

Translate header and footer
  src/components/layout/footer/links.tsx
  src/components/layout/footer/social.tsx
  src/components/layout/header.tsx
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
Due: lint --fix, prettier --write

Set up /pages/year-in-review/2021 for translations
  src/components/layout/yearInReview/2021/advisoryService.tsx
  src/components/layout/yearInReview/2021/animatedVideos.tsx
  src/components/layout/yearInReview/2021/byTheNumbers.tsx
  src/components/layout/yearInReview/2021/communityGrowth.tsx
  src/components/layout/yearInReview/2021/designsForVeganOrgs.tsx
  src/components/layout/yearInReview/2021/featuredBlogPosts.tsx
  src/components/layout/yearInReview/2021/featuredProjects.tsx
  src/components/layout/yearInReview/2021/feedbackAndTesting.tsx
  src/components/layout/yearInReview/2021/intro.tsx
  src/components/layout/yearInReview/2021/minorChangesBigImpact.tsx
  src/components/layout/yearInReview/2021/movingForward.tsx
  src/components/layout/yearInReview/2021/newsletterLaunch.tsx
  src/components/layout/yearInReview/2021/partnerships.tsx
  src/components/layout/yearInReview/2021/playground.tsx
  src/components/layout/yearInReview/2021/rebrand.tsx
  src/pages/year-in-review/2021.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Mats Corrections to YiR 2021 Translation Setup
  src/components/layout/yearInReview/2021/advisoryService.tsx
  src/components/layout/yearInReview/2021/animatedVideos.tsx
  src/components/layout/yearInReview/2021/byTheNumbers.tsx
  src/components/layout/yearInReview/2021/communityGrowth.tsx
  src/components/layout/yearInReview/2021/designsForVeganOrgs.tsx
  src/components/layout/yearInReview/2021/featuredBlogPosts.tsx
  src/components/layout/yearInReview/2021/featuredProjects.tsx
  src/components/layout/yearInReview/2021/feedbackAndTesting.tsx
  src/components/layout/yearInReview/2021/minorChangesBigImpact.tsx
  src/components/layout/yearInReview/2021/partnerships.tsx
  src/components/layout/yearInReview/2021/playground.tsx
  src/components/layout/yearInReview/2021/rebrand.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Remove Translation Setup from HighlightBlock Props
  src/components/layout/yearInReview/2021/intro.tsx
Due: lint --fix

Fix skewed hero tagline
  src/components/decoration/hero.tsx
Due: lint --fix

Update prisma and typescript
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/server/trpc.ts
Due: lint --fix, prettier --write

Update node to v20
  .nvmrc
  docker/Dockerfile
  docker/Dockerfile.dev
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade prisma client
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix lint issues
  src/components/decoration/link.tsx
  src/components/layout/playground/siginInPrompt.tsx
  src/pages/auth/signin.tsx
Due: lint --fix

Update trpc
  package.json
  pnpm-lock.yaml
  src/lib/client/trpc.ts
Due: lint --fix, prettier --write

Update react-intl
  package.json
  pnpm-lock.yaml
Due: prettier --write

update links to next 13
  src/components/layout/localeSelector.tsx
  src/components/layout/yearInReview/2021/byTheNumbers.tsx
Due: lint --fix

Set up /pages/year-in-review/2022 for translations
  src/components/layout/yearInReview/2021/advisoryService.tsx
  src/components/layout/yearInReview/2021/movingForward.tsx
  src/components/layout/yearInReview/2021/playground.tsx
  src/components/layout/yearInReview/2022/animalRightsAdvocates.tsx
  src/components/layout/yearInReview/2022/bonusProjects.tsx
  src/components/layout/yearInReview/2022/byTheNumbers.tsx
  src/components/layout/yearInReview/2022/featuredInterviews.tsx
  src/components/layout/yearInReview/2022/grantProgram.tsx
  src/components/layout/yearInReview/2022/intro.tsx
  src/components/layout/yearInReview/2022/minorChangesBigImpact.tsx
  src/components/layout/yearInReview/2022/moreEffectiveTeams.tsx
  src/components/layout/yearInReview/2022/movingForward.tsx
  src/components/layout/yearInReview/2022/newVideos.tsx
  src/components/layout/yearInReview/2022/playground.tsx
  src/components/layout/yearInReview/2022/sharingKnowledgeAndSupport.tsx
  src/components/layout/yearInReview/2022/stateOfData.tsx
  src/pages/year-in-review/2022.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Update translations
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
Due: prettier --write

Add dockerfile to root
  Dockerfile
Due: none

Remove patreon call
  src/pages/support.tsx
Due: lint --fix

Add base requestor signup page
  prisma/migrations/20231201124010_add_requestor_user_role/migration.sql
  prisma/schema.prisma
  src/components/layout/playground/submitRequestForm.tsx
  src/components/layout/signup/RequestorSignup.tsx
  src/lib/client/trpc.ts
  src/lib/services/playground/schemas.ts
  src/pages/playground/signup.tsx
Due: lint --fix

Update Year in Review 2020 Translation Setup
  src/components/layout/yearInReview/organizations.tsx
  src/pages/year-in-review/2020.tsx
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
Due: lint --fix, prettier --write

Update /pages/about/ Translation Setup
  src/pages/about/our-mission.tsx
  src/pages/about/our-story.tsx
  src/pages/about/our-values.tsx
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
Due: lint --fix, prettier --write

Update /pages/auth/ Translation Setup
  src/pages/auth/signin.tsx
  translation/data/en.json
Due: lint --fix, prettier --write

Update /pages/grants/ Translation Setup
  src/components/layout/grants/grantsApplication.tsx
  src/components/layout/grants/grantsPerks.tsx
  src/components/layout/grants/grantsPollinationProject.tsx
  src/components/layout/grants/grantsQualifications.tsx
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
Due: lint --fix, prettier --write

Update /pages/people/ Translation Setup
  src/pages/people/advisors.tsx
  src/pages/people/partners.tsx
  src/pages/people/team.tsx
  src/pages/people/volunteers.tsx
  translation/data/de.json
  translation/data/en.json
  translation/data/zh.json
Due: lint --fix, prettier --write

Path conditions:
  lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
