Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

Add translations for our work section
  src/components/layout/work/ourWork.tsx
  src/pages/work.tsx
  translation/data/de.json
  translation/data/en.json
Due: lint --fix, prettier --write

send playground emails to jess instead of flavia
  src/components/layout/mail/emailTemplates.ts
  src/lib/cron/hour/rejectOldRequestsWithoutApplicantsTask.ts
  src/lib/cron/hour/requestFeedbackTask.ts
  src/lib/cron/hour/sendInternalEmailNotificationForRequestsWithoutApplicationsTask.ts
  src/lib/mail/router/index.ts
  src/lib/services/playground/admin.ts
Due: lint --fix

Add translations for work page
  src/components/layout/work/designSamples.tsx
  src/components/layout/work/featuredProjects.tsx
  src/components/layout/work/grantProgram.tsx
  src/components/layout/work/hoursVolunteered.tsx
  src/components/layout/work/kindWords.tsx
  src/components/layout/work/likeWhatYouSee.tsx
  src/components/layout/work/ourCommunities.tsx
  src/components/layout/work/playground.tsx
  src/components/layout/work/sharingKnowledgeAndSupport.tsx
  src/components/layout/work/stateOfData.tsx
  src/pages/_app.tsx
  src/pages/support.tsx
  translation/_util.ts
  translation/data/de.json
  translation/data/en.json
  translation/extract.ts
Due: lint --fix, prettier --write

link /research in state of data section on work page
  public/images/yearInReview/2022/tech-and-data-in-the-movement.jpeg
  src/components/layout/work/stateOfData.tsx
Due: lint --fix

update state of data section in /work
  src/components/layout/work/stateOfData.tsx
Due: lint --fix

remove work state of data section header image
  src/components/layout/work/stateOfData.tsx
Due: lint --fix

open tech and data study pdf in new tab
  src/components/layout/work/stateOfData.tsx
Due: lint --fix

Set up our-mission for translations
  src/pages/about/our-mission.tsx
Due: lint --fix

Add translations for about page
  src/components/layout/about.tsx
  src/pages/about/our-mission.tsx
  src/pages/about/our-story.tsx
  src/pages/about/our-values.tsx
Due: lint --fix

Set up auth pages for translations
  src/pages/auth/signin.tsx
  src/pages/auth/signout.tsx
  src/pages/auth/verify-request.tsx
Due: lint --fix

update playground request notification query
  src/lib/cron/hour/rejectOldRequestsWithoutApplicantsTask.ts
Due: lint --fix

Set up /grant/ content for translations
  src/components/layout/grants/grantsApplication.tsx
  src/components/layout/grants/grantsCallToAction.tsx
  src/components/layout/grants/grantsHeading.tsx
  src/components/layout/grants/grantsHero.tsx
  src/components/layout/grants/grantsPerks.tsx
  src/components/layout/grants/grantsPollinationProject.tsx
  src/components/layout/grants/grantsQualifications.tsx
  src/components/layout/grants/grantsSubHeading.tsx
  src/pages/grants/index.tsx
Due: lint --fix

Set up /pages/people/ content for translations
  src/pages/people/advisors.tsx
  src/pages/people/partners.tsx
  src/pages/people/team.tsx
  src/pages/people/volunteers.tsx
Due: lint --fix

Set up /components/layout/people for translations
  src/components/layout/people.tsx
Due: lint --fix

Upgrade prisma
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add debug statements
  src/lib/services/playground/admin.ts
  src/server/routers/playground/admin.ts
Due: lint --fix

Fix build error
  src/components/layout/playground/applyForm.tsx
Due: lint --fix

Fix switched org type values
  src/components/layout/playground/submitRequestForm.tsx
Due: lint --fix

Validate for profit requests have budget
  src/components/layout/playground/submitRequestForm.tsx
  src/lib/services/playground/schemas.ts
Due: lint --fix

Fix quotes
  src/components/layout/playground/submitRequestForm.tsx
Due: lint --fix

Show organization description below request description
  src/components/layout/playground/applyForm.tsx
  src/lib/services/playground/index.ts
Due: lint --fix

Better grant program wording
  src/components/layout/grants/grantsPerks.tsx
  src/components/layout/grants/grantsPollinationProject.tsx
  src/pages/grants/index.tsx
  src/pages/services.tsx
Due: lint --fix

Update
  src/components/layout/grants/grantsCallToAction.tsx
Due: lint --fix

Fix formatting
  src/components/layout/grants/grantsCallToAction.tsx
  src/components/layout/grants/grantsPollinationProject.tsx
  src/pages/grants/index.tsx
Due: lint --fix

Extract translations
  README.md
  translation/data/en.json
Due: prettier --write

Add dev language with translation ids as display text value
  next.config.js
  src/lib/translation/messages.ts
  translation/compile.ts
Due: lint --fix

Add desktop language picker to header
  src/components/forms/inputs/selectInput.tsx
  src/components/layout/header.tsx
  src/lib/translation/messages.ts
  translation/compile.ts
Due: lint --fix

Add transition to language picker label
  src/components/layout/header.tsx
Due: lint --fix

Use focus event for language dropdown, make locale selector usable on mobile, add readable language dropdown labels
  src/components/layout/LanguagePickerDropdown.tsx
  src/components/layout/footer/index.tsx
  src/components/layout/header.tsx
Due: lint --fix

Sort translations when writing to file
  translation/_util.ts
  translation/compile.ts
  translation/data/en.json
  translation/extract.ts
  translation/translate.ts
Due: lint --fix, prettier --write

Update translation file
  translation/_util.ts
  translation/data/en.json
  translation/extract.ts
  translation/translate.ts
Due: lint --fix, prettier --write

Use term locale instead of language, strip obsolete translations from files, generate german translations
  src/components/layout/grants/grantsApplication.tsx
  src/components/layout/grants/grantsPerks.tsx
  src/components/layout/grants/grantsPollinationProject.tsx
  src/components/layout/grants/grantsQualifications.tsx
  src/pages/about/our-mission.tsx
  src/pages/about/our-story.tsx
  src/pages/about/our-values.tsx
  translation/_util.ts
  translation/compile.ts
  translation/data/de.json
  translation/extract.ts
  translation/translate.ts
  translation/tsconfig.json
Due: lint --fix, prettier --write

Fix locale selector
  src/components/layout/header.tsx
  src/components/layout/localeSelector.tsx
Due: lint --fix

Path conditions:
  lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
