Repository veganhacktivists/veganhacktivists: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

David B's YiR 2023 updates
  src/components/layout/yearInReview/2023/collaborations.tsx
  src/components/layout/yearInReview/2023/granti.tsx
  src/components/layout/yearInReview/2023/leadership.tsx
  src/components/layout/yearInReview/2023/playground.tsx
  src/components/layout/yearInReview/2023/tech-and-data.tsx
  src/components/layout/yearInReview/2023/theoryOfChange.tsx
  src/components/layout/yearInReview/2023/today-for-animals.tsx
  src/components/layout/yearInReview/2023/violetStudios.tsx
  src/components/layout/yearInReview/highlightBlock.tsx
  src/components/layout/yearInReview/layout.tsx
Due: lint --fix

set max width for yir 2023 moving forward section
  src/components/layout/yearInReview/2023/movingForward.tsx
Due: lint --fix

update yir-2023 max width of sections (#303)
  src/components/layout/yearInReview/2023/collaborations.tsx
  src/components/layout/yearInReview/2023/granti.tsx
  src/components/layout/yearInReview/2023/leadership.tsx
  src/components/layout/yearInReview/2023/movingForward.tsx
  src/components/layout/yearInReview/2023/playground.tsx
  src/components/layout/yearInReview/2023/tech-and-data.tsx
  src/components/layout/yearInReview/2023/theoryOfChange.tsx
  src/components/layout/yearInReview/2023/today-for-animals.tsx
  src/components/layout/yearInReview/2023/violetStudios.tsx
  src/components/layout/yearInReview/highlightBlock.tsx
  src/components/layout/yearInReview/layout.tsx
Due: lint --fix

try env(safe-area-inset-top) to fix top of modal and x button being hidden
  src/components/layout/modal.tsx
Due: lint --fix

Revert "try env(safe-area-inset-top) to fix top of modal and x button being hidden"
  src/components/layout/modal.tsx
Due: lint --fix

try env(safe-area-inset-top) to fix x and top of modal being hidden on mobile
  src/components/layout/modal.tsx
Due: lint --fix

update height of div containing x
  src/components/layout/modal.tsx
Due: lint --fix

apply max height to reactmodal rather than interior div
  src/components/layout/modal.tsx
Due: lint --fix

subtract both inset top and inset bottom from vh
  src/components/layout/modal.tsx
Due: lint --fix

just use my instead
  src/components/layout/modal.tsx
Due: lint --fix

my-12 instead of 10
  src/components/layout/modal.tsx
Due: lint --fix

Revert "add margin y to small screens to avoid X button being cut off"
  src/components/layout/modal.tsx
Due: lint --fix

Fix out of date FUNDING file
  .github/FUNDING.yml
Due: prettier --write

add margin to newsletter popup for mobiles
  src/components/layout/modal.tsx
Due: lint --fix

Update pnpm and pnpm install action
  .github/workflows/lint.yml
  package.json
Due: prettier --write

Delete font files
  public/fonts/bitter-v28-latin-500.woff
  public/fonts/bitter-v28-latin-500.woff2
  public/fonts/bitter-v28-latin-500italic.woff
  public/fonts/bitter-v28-latin-500italic.woff2
  public/fonts/bitter-v28-latin-italic.woff
  public/fonts/bitter-v28-latin-italic.woff2
  public/fonts/pt-sans-v17-latin-700.woff
  public/fonts/pt-sans-v17-latin-700.woff2
  public/fonts/pt-sans-v17-latin-regular.woff
  public/fonts/pt-sans-v17-latin-regular.woff2
  public/fonts/rajdhani-v15-latin-300.woff
  public/fonts/rajdhani-v15-latin-300.woff2
  public/fonts/rajdhani-v15-latin-500.woff
  public/fonts/rajdhani-v15-latin-500.woff2
  public/fonts/rajdhani-v15-latin-600.woff
  public/fonts/rajdhani-v15-latin-600.woff2
  public/fonts/rajdhani-v15-latin-700.woff
  public/fonts/rajdhani-v15-latin-700.woff2
Due: none

Fix missing glyphs in fonts
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
  src/styles/fonts.css
Due: lint --fix, prettier --write

Test next font hosting instead
  package.json
  pnpm-lock.yaml
  src/components/layout/wrapper.tsx
  src/pages/_app.tsx
  tailwind.config.ts
Due: lint --fix, prettier --write

Update node setup action
  .github/workflows/lint.yml
Due: prettier --write

Fix sentence
  src/pages/people/volunteers.tsx
Due: lint --fix

Align background image right
  src/components/layout/playground/layout.tsx
Due: lint --fix

Fix stats layout on mobile & tablet
  src/components/layout/playground/layout.tsx
Due: lint --fix

Fixed biggerOnMobile default value confusing the CustomImage props
  src/components/decoration/hero.tsx
Due: lint --fix

Add csv-import and tests
  .env.example
  package.json
  pnpm-lock.yaml
  src/lib/services/data-dashboard/__tests__/index.ts
  src/lib/services/data-dashboard/index.ts
  src/pages/api/data.ts
Due: lint --fix, prettier --write

Add ability to change image alignment
  src/components/decoration/hero.tsx
Due: lint --fix

Make tagline bigger on mobile
  src/components/layout/playground/layout.tsx
Due: lint --fix

Add ability to make tagline bigger on mobile
  src/components/decoration/hero.tsx
Due: lint --fix

Updates YiR <Hero> banners
  src/components/decoration/hero.tsx
  src/pages/year-in-review/2020.tsx
  src/pages/year-in-review/2021.tsx
  src/pages/year-in-review/2022.tsx
  src/pages/year-in-review/2023.tsx
Due: lint --fix

update mobile nav
  src/components/layout/header.tsx
Due: lint --fix

address PR comments'
  src/components/layout/header.tsx
Due: lint --fix

fix z index issue
  src/components/layout/header.tsx
Due: lint --fix

fix transparency
  src/components/layout/header.tsx
Due: lint --fix

adjust X button positioning
  src/components/layout/header.tsx
Due: lint --fix

add special positioning for home page
  src/components/layout/header.tsx
Due: lint --fix

Path conditions:
  lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,css,json,yml,yaml}
